<div class="triple-block">
    <div class="container">
        <div class="triple-block-wrapper">
            <div class="triple-block-item triple-block-item-1">
                <div class="glide multi">
                    <div class="glide__track" data-glide-el="track">
                        <ul class="glide__slides">
                            <li class="glide__slide">
                                <a href="/">
                                    <img alt="test" src="https://cdn.awsli.com.br/257/257163/arquivos/wireframe-bloco-1-fitas-led-14-07-2023.png" width="407" height="529">
                                </a>
                            </li>
                            <li class="glide__slide">
                                <a href="/">
                                    <img alt="test" src="https://cdn.awsli.com.br/257/257163/arquivos/wireframe-bloco-1-fitas-led-14-07-2023.png" width="407" height="529">
                                </a>
                            </li>
                            <li class="glide__slide">
                                <a href="/">
                                    <img alt="test" src="https://cdn.awsli.com.br/257/257163/arquivos/wireframe-bloco-1-fitas-led-14-07-2023.png" width="407" height="529">
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="glide__arrows" data-glide-el="controls">
                        <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><i class="i-chevron-left"></i></button>
                        <button class="glide__arrow glide__arrow--right" data-glide-dir=">"><i class="i-chevron-right"></i></button>
                    </div>
                </div>
            </div>
            <div class="triple-block-item triple-block-item-2">
                <div class="triple-block-item-countdown">
                    <div class="triple-block-item-countdown-title">Ofertas Imbatíveis</div>
                    <%- await include('../../helpers/countdown/index') %>
                </div>
                <div class="triple-block-item-products">
                    Produtos
                </div>
            </div>
            <div class="triple-block-item triple-block-item-3">
                <div class="glide multi">
                    <div class="glide__track" data-glide-el="track">
                        <ul class="glide__slides">
                            <li class="glide__slide">
                                <a href="/">
                                    <img alt="test" src="https://cdn.awsli.com.br/257/257163/arquivos/wireframe-bloco-1-fitas-led-14-07-2023.png" width="407" height="529">
                                </a>
                            </li>
                            <li class="glide__slide">
                                <a href="/">
                                    <img alt="test" src="https://cdn.awsli.com.br/257/257163/arquivos/wireframe-bloco-1-fitas-led-14-07-2023.png" width="407" height="529">
                                </a>
                            </li>
                            <li class="glide__slide">
                                <a href="/">
                                    <img alt="test" src="https://cdn.awsli.com.br/257/257163/arquivos/wireframe-bloco-1-fitas-led-14-07-2023.png" width="407" height="529">
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="glide__arrows" data-glide-el="controls">
                        <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><i class="i-chevron-left"></i></button>
                        <button class="glide__arrow glide__arrow--right" data-glide-dir=">"><i class="i-chevron-right"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- ├── custom-components/
│   ├── pages/ -> # Arquivos de estruturação de layout.
│       ├─── pages/ -> 
│       ├─── pages/ -> 
│   ├── layout/ -> # Arquivos reutilizaveis em todos layouts.
│   ├── helpers/ -> # Arquivos de estruturação de layout. -->

