<%
const skus = ['PG-RT36WBN-30X60-KIT50', 'ARA-5WBQ-PT-KIT10', 'XL-5050VE-KIT1', 'PS-R25WBF-KIT20'];
const search = new _.EcomSearch()
let items = [];

try {
    await search.setSkus(skus).setSortOrder('news').fetch(true)

    items = search.getItems().filter(item => _.ecomUtils.inStock(item))
} catch (err) {
    console.error(err)
}

const slideOptions = {
    navigation: 'default',
    slidesPerView: 1,
    spaceBetween: 0,
}
%>

<div class="triple-block">
    <div class="container">
        <div class="triple-block-wrapper">
            <div class="triple-block-item triple-block-item-1">
                <div class="swiper" data-slide-options='<%- JSON.stringify(slideOptions) %>'>
                    <div class="swiper-clip">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="/">
                                    <img alt="test" src="https://cdn.awsli.com.br/257/257163/arquivos/wireframe-bloco-1-fitas-led-14-07-2023.png" width="407" height="529">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="/">
                                    <img alt="test" src="https://cdn.awsli.com.br/257/257163/arquivos/wireframe-bloco-1-fitas-led-14-07-2023.png" width="407" height="529">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="/">
                                    <img alt="test" src="https://cdn.awsli.com.br/257/257163/arquivos/wireframe-bloco-1-fitas-led-14-07-2023.png" width="407" height="529">
                                </a>
                            </div>
                        </div>
        
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
            <div class="triple-block-item triple-block-item-2">
                <div class="triple-block-item-countdown">
                    <div class="triple-block-item-countdown-title">Ofertas Imbatíveis</div>
                    <%- await include('../../helpers/countdown/index') %>
                </div>
                <div class="triple-block-item-products">
                    <%- await include(`../../helpers/test/index`, {
                        prop: 'Prop de teste' 
                    }) %>
                </div>
            </div>
            <div class="triple-block-item triple-block-item-3">
                <div class="swiper" data-slide-options='<%- JSON.stringify(slideOptions) %>'>
                    <div class="swiper-clip">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="/">
                                    <img alt="test" src="https://cdn.awsli.com.br/257/257163/arquivos/wireframe-bloco-1-fitas-led-14-07-2023.png" width="407" height="529">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="/">
                                    <img alt="test" src="https://cdn.awsli.com.br/257/257163/arquivos/wireframe-bloco-1-fitas-led-14-07-2023.png" width="407" height="529">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="/">
                                    <img alt="test" src="https://cdn.awsli.com.br/257/257163/arquivos/wireframe-bloco-1-fitas-led-14-07-2023.png" width="407" height="529">
                                </a>
                            </div>
                        </div>
        
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 



<!-- ├── custom-components/
│   ├── pages/ -> # Arquivos de estruturação de layout.
│       ├─── pages/ -> 
│       ├─── pages/ -> 
│   ├── layout/ -> # Arquivos reutilizaveis em todos layouts.
│   ├── helpers/ -> # Arquivos de estruturação de layout. -->

