.triple-block {
    margin: 0 0 25px 0;
}

.triple-block .triple-block-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.triple-block .triple-block-item-1,
.triple-block .triple-block-item-2,
.triple-block .triple-block-item-3 {
    max-width: 407px;
    width: 100%;
}

.triple-block .triple-block-item-1 a,
.triple-block .triple-block-item-3 a {
    display: block;
    width: 100%;
    height: 100%;
}

.triple-block .triple-block-item-1 a img,
.triple-block .triple-block-item-3 a img {
    /*width: auto;*/
}

.triple-block .triple-block-item-countdown {
    background: radial-gradient(circle, var(--cor-vermelho-2) 0, var(--cor-vermelho-3) 100%);
    color: #ffff;
    text-align: center;
    padding: 18px 0;
}

.triple-block .triple-block-item-countdown-title {
    font-size: 30px;
    font-weight: 800;
    letter-spacing: -1.5px;
    margin: 0px 0 15px 0;
    text-transform: uppercase;
    line-height: 25px;
}

.triple-block .triple-block-item-countdown .countdown {
    margin: 0;
}

.triple-block .triple-block-item-countdown .countdown-wrapper {
    gap: 6px;
}

.triple-block .triple-block-item-countdown .countdown-item b {
    font-weight: 600;
    font-size: 25px;
    line-height: 23px;
}

.triple-block .triple-block-item-countdown .countdown-item span {
    font-size: 13px;
    letter-spacing: -0.5px;
}

.triple-block .triple-block-item-countdown .countdown-item-separator {
    font-size: 25px;
    font-weight: 500;
    line-height: 20px;
    padding: 0 0 6px 0;
}


.triple-block .triple-block-item-products,
.triple-block .product-showcase, 
.triple-block .product-showcase .container {
    height: 100%;
}

.triple-block .product-showcase .container {
    padding: 0;
}

.triple-block .triple-block-item-2 {
    display: flex;
    flex-direction: column;
}

.triple-block .swiper-button-prev {
    left: 0px;
}

.triple-block .swiper-button-next {
    right: 0px;
}

.triple-block .swiper-button-prev,
.triple-block .swiper-button-next {
    background: none !important;
    font-size: 20px;
}

.triple-block .swiper-button-prev:hover,
.triple-block .swiper-button-next:hover {
    color: #ddd
}

.triple-block .triple-block-item-2 .swiper-button-prev,
.triple-block .triple-block-item-2 .swiper-button-next {
    background: none !important;
    font-size: 20px;
    color: #444;
    transform: translateY(-59px);
}

.triple-block .triple-block-item-2 .swiper-button-prev:hover,
.triple-block .triple-block-item-2 .swiper-button-next:hover {
    color: var(--cor-vermelho-2)
}

.triple-block .triple-block-item-products {
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.triple-block .triple-block-item-products:hover {
    border-color: var(--cor-vermelho-2);
}

.triple-block .product-showcase-listing .swiper-clip:before, 
.triple-block .product-showcase-listing .swiper-clip:after {
    display: none;
}

.triple-block .product-showcase .product-item .product-card {
    border: none;
    padding-top: 20px
}

.triple-block .product-showcase .product-item .product-card__pictures, 
.triple-block .product-showcase .product-item .product-card__pictures img {
    height: 156px;
}
