<div class="most-searched-words d-block d-md-none">
    <ul>
        <li><span>Palavras mais buscadas</span></li>
        <li><a href="/fitas-de-led">Fita LED</a></li>
        <li><a href="/buscar?q=Luminaria+de+emergencia&amp;sort=mais_vendidos">Luminária de Emergência</a></li>
        <li><a href="/balizador-led">Balizador LED</a></li>
        <li><a href="/lustre-led">Lustre LED</a></li>
        <li><a href="/buscar?q=60x60&amp;sort=mais_vendidos">60x60</a></li>
        <li><a href="/buscar?q=40x40&amp;sort=mais_vendidos">40x40</a></li>
        <li><a href="/soquete-led">Soquete</a></li>
        <li><a href="/lampada-led-tubular">Tubular</a></li>
    </ul>
</div>