<div class="most-searched-words d-block d-md-none">
    <ul>
        <li><span>Palavras mais buscadas</span></li>
        <li><a href="/fitas-de-led?sort=mais_vendidos">Fita LED</a></li>
        <li><a href="/buscar?q=Luminaria+de+emergencia&amp;sort=mais_vendidos">Luminária de Emergência</a></li>
        <li><a href="/balizador-led?sort=mais_vendidos">Balizador LED</a></li>
        <li><a href="/lustre-led?sort=mais_vendidos">Lustre LED</a></li>
        <li><a href="/buscar?q=60x60&amp;sort=mais_vendidos">60x60</a></li>
        <li><a href="/buscar?q=40x40&amp;sort=mais_vendidos">40x40</a></li>
        <li><a href="/soquete-led?sort=mais_vendidos">Soquete</a></li>
        <li><a href="/lampada-led-tubular?sort=mais_vendidos">Tubular</a></li>
    </ul>
</div>