<div class="top-bar d-none d-md-block">
    <div class="container">
        <div class="top-bar-wrapper">
            <a href="/">
                <img loading="eager" width="1280" height="45" alt="LED Ofertas frete gr치tis expresso para todo o brasil!" title="LED Ofertas frete gr치tis expresso para todo o brasil!" src="/img/uploads/top-bar/banner-top-bar.png.webp">
            </a>
        </div>
    </div>
</div>

<div class="top-bar d-block d-md-none">
    <div class="container">
        <div class="top-bar-wrapper">
            <div class="top-bar-close"></div>
            <div class="top-bar-content">
                <a href="/">
                    <img loading="eager" width="1280" height="45" alt="LED Ofertas frete gr치tis expresso para todo o brasil!" title="LED Ofertas frete gr치tis expresso para todo o brasil!" src="/img/uploads/top-bar/banner-top-bar-mobile.png.webp">
                </a>
            </div>
        </div>
    </div>
</div>