.products-on-offer .product-countdown-custom {
    position: static;
    background: var(--cor-vermelho-1);
    color: #fff;
    padding: 2px 0 2px 0;
}

.products-on-offer .container {
    padding: 0 !important;
}

.products-on-offer {
    margin: 0 0 30px;
    max-width: 955px;
    order: -8;
    padding: 0 0 30px 0;
    border-bottom: 1px solid #ddd;
}

.products-on-offer .product-countdown-custom .countdown-item span,
.products-on-offer .product-showcase-listing .swiper-clip:before,
.products-on-offer .product-showcase-listing .swiper-clip:after {
    display: none !important;
}

.products-on-offer .product-countdown-custom .countdown-wrapper:before {
    content: "Acaba em:";
    font-size: 13px;
    padding: 1px 4px 0 0;
}


.products-on-offer .product-countdown-custom .countdown-item b {
    font-size: 18px;
}

.products-on-offer .countdown .countdown-wrapper {
    gap: 4px;
}

.products-on-offer .countdown-item-separator {
    font-weight: 700;
    padding: 0 0 2px 0;
    font-size: 17px;
}

.products-on-offer .product-showcase .product-item .product-card__name {
    -webkit-line-clamp: 2;
    background: #f9f9f9;
    height: 35px;
    margin: 0;
    padding: 10px 10px 0px 10px;
    box-sizing: unset;
}

.products-on-offer .product-showcase .product-item .prices.product-card__prices {
    background: #f9f9f9;
}

.products-on-offer .product-showcase .product-card__buy {
    background: #f9f9f9;
    margin: 0;
    opacity: 1;
    visibility: visible;
    position: static;
    padding: 15px;
}

.products-on-offer .product-showcase .product-item .product-card {
    padding: 40px 0 0 0 !important;
    border-radius: 0 !important;
    border: none !important;
}

.products-on-offer .product-showcase .product-card__rating {
    text-align: center;
    background: #f9f9f9;
    margin: 0;
    padding: 10px 0 10px 0;
}

.products-on-offer .product-showcase .prices.product-card__prices:before {
    color: var(--cor-verde-1);
    content: "Economize comprando o produto e muito mais";
    font-family: Roboto;
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;
    padding: 0 35px;
    text-align: center;
    margin: 0 0 10px 0;
}

.products-on-offer  .product-showcase .product-card:before {
    top: 0;
    left: 50px;
}

.products-on-offer .product-showcase .product-item .product-card__offer-stamp {
    left: 0;
    top: 0;
}

.products-on-offer .product-showcase a.product-card__link > span:before {
    content: "SÓ HOJE: LED OFERTAS";
    color: #fff;
    font-weight: 700;
    letter-spacing: -0.5px;
    font-size: 13px;
    text-align: center;
    width: auto;
    background: var(--cor-vermelho-2);
    border-radius: 4px;
    padding: 6px 18px;
    margin: 6px auto 8px auto;
    display: block;
    line-height: 1;
}

@media (max-width: 767px) {
    .products-on-offer .product-countdown-custom .countdown-wrapper:before {
        width: 100%;
        line-height: 1;
        text-align: center;
        margin: 0 0 3px 0;
        font-size: 12px;
    }
    
    .products-on-offer .countdown .countdown-wrapper {
        flex-wrap: wrap;
        gap: 0 2px;
        padding: 0 0 2px 0;
    }
    
    .products-on-offer .product-countdown-custom .countdown-item {
        line-height: 1;
    }
    
    .products-on-offer .countdown-item-separator {
        line-height: 1;
        font-size: 14px;
    }
    
    .products-on-offer .product-countdown-custom .countdown-item b {
        font-size: 15px;
    }
    
    .products-on-offer .product-showcase a.product-card__link > span:before {
        margin: 0;
        border-radius: 0;
        font-size: 11px;
    }
    
    .products-on-offer .product-showcase .product-item .product-card__name {
        background: #fff;
    }
    
    .products-on-offer .product-showcase .product-card__rating {
        background: #fff;
        padding: 5px 5px 5px 10px;
    }
    
    .products-on-offer .product-showcase .prices.product-card__prices:before {
        font-size: 11px;
        font-weight: 500;
        line-height: 12px;
        text-align: left;
        padding: 5px 0 0 0;
        margin: 0 0 6px 0;
    }
    
    .products-on-offer .product-showcase .product-item .prices.product-card__prices {
        background: #fff;
        padding: 0 10px;
    }
    
    .products-on-offer .product-showcase .product-card__buy {
        background: #fff;
        padding: 10px;
        position: absolute;
        bottom: 0;
    }

    .products-on-offer .product-showcase .product-item .product-card {
        padding-bottom: 50px !important;
        border-radius: 5px !important;
        overflow: hidden;
        height: 100% !important;
    }
    
    .products-on-offer .product-showcase .product-item .product-card__offer-stamp {
        left: 5px;
        top: 5px;
    }
    
    .products-on-offer .product-showcase .product-card:before {
        top: 5px;
        left: 45px;
    }

    .products-on-offer .product-showcase .swiper-button-next, 
    .products-on-offer .product-showcase .swiper-button-prev {
        top: 155px;
    }
}