.countdown .countdown-item.countdown-item-day,
.countdown .countdown-item-separator.countdown-item-separator-1 {
    display: none;
}

.countdown .countdown-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.countdown .countdown-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}