.block-seo .block-seo-text .block-seo-text-title {
    display: block;
    font-size: 27px;
    letter-spacing: -1px;
    margin: 0 0 20px;
    line-height: 1;
}

.block-seo .block-seo-text .block-seo-text-paragraph {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.3px;
}

.block-seo .block-seo-text .block-seo-text-paragraph-1 {
    margin-bottom: 10px;
}

// BENEFITS 

.block-seo-qualities {
    background: #f0f0f0;
    padding: 42px 0 30px 0;
    margin: 40px 0 38px 0;
}

.block-seo-qualities .block-seo-qualities-item {
    display: flex;
    gap: 10px;
}

.block-seo-qualities .block-seo-qualities-item-texts strong {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: -0.5px;
    margin: 0 0 6px 0;
    display: block;
    line-height: 15px;
    color: var(--cor-vermelho-2);
    text-transform: uppercase;
}

.block-seo-qualities .block-seo-qualities-item-texts p {
    display: block;
    font-size: 13px;
    line-height: 16px;
    margin: 0;
}

.block-seo-qualities .block-seo-qualities-item-icon {
    color: var(--cor-vermelho-2);
}

.block-seo-qualities .block-seo-qualities-item-texts a {
    font-weight: 600;
    font-size: 14px;
    color: var(--cor-vermelho-2);
    margin: 4px 0 0 0;
    display: block;
}

// RATING 
.block-seo-rating {
    margin: 0 0 50px 0;
}

.block-seo-rating .block-seo-rating-title {
    font-size: 27px;
    font-weight: 700;
    margin: 0 0 25px 0;
    line-height: 1;
}

.block-seo-rating .block-seo-rating-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.block-seo-rating .block-seo-rating-note strong {
    font-size: 43px;
    font-weight: 700;
    letter-spacing: -3px;
    line-height: 1;
    display: block;
}

.block-seo-rating .block-seo-rating-note p {
    font-size: 14px;
    letter-spacing: -0.5px;
    margin: 5px 0 7px 0;
}

.block-seo-rating .block-seo-rating-comment strong {
    font-size: 14px;
    font-weight: 700;
}

.block-seo-rating .block-seo-rating-comment strong span {
    font-weight: 400;
    font-size: 11px;
}

.block-seo-rating .block-seo-rating-comment div {
    display: flex;
    gap: 3px;
    color: var(--cor-amarelo-1);
    margin: 4px 0 6px 0;
}

.block-seo-rating .block-seo-rating-comment p {
    font-size: 14px;
    letter-spacing: -0.5px;
    margin: 0;
}

.block-seo-rating .block-seo-rating-note {
    text-align: center;
}

.block-seo-rating .block-seo-rating-note div {
    display: flex;
    justify-content: space-between;
    color: var(--cor-amarelo-1);
}

