.product-showcase .product-showcase-title-text strong {
    font-family: 'Francois One', sans-serif;
    font-weight: 400;
    display: block;
    text-transform: uppercase;
    font-size: 21px;
    letter-spacing: -.5px;
}

.product-showcase .product-showcase-title {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    box-shadow: none;
    border: 1px solid #ddd;
    border-top: 2px solid var(--cor-vermelho-2);
    padding: 0 25px 0 25px;
    align-items: center;
    min-height: 58px;
    color: var(--cor-vermelho-2);
    background: none !important;
    margin-bottom: -1px;
}

.product-showcase .product-showcase-title-countdown-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.product-showcase .product-showcase-title-countdown-text {
    white-space: nowrap;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
}

.product-showcase .product-showcase-title-countdown-icon {
    display: flex;
    position: relative;
    top: -1px;
}

.product-showcase .product-showcase-title .countdown-item span {
    display: none;
}

.product-showcase .product-showcase-title .countdown-item b {
    font-size: 22px;
    font-weight: 700;
    min-width: 30px;
}

.product-showcase .product-showcase-title-link a {
    line-height: 32px;
    height: 32px;
    padding: 0 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s;
    border: 1px solid var(--cor-vermelho-2);
    font-size: 14px;
    letter-spacing: -1px;
    text-transform: uppercase;
    font-weight: 600;
    margin-left: 0;
    color: var(--cor-vermelho-2);
    font-style: oblique;
    display: flex;
    align-items: center;
    gap: 7px;
}

.product-showcase .product-showcase-title-link a:hover {
    background: var(--cor-vermelho-2);
    color: #fff;
}

.product-showcase .product-item .product-card__pictures img {
    object-fit: contain;
}

.product-showcase-listing .swiper-clip {
    z-index: 1;
}

.product-showcase-listing .swiper-clip:before {
    content: "";
    width: 1px;
    position: absolute;
    left: 0;
    background: #ddd;
    height: 100%;
    top: 0;
    z-index: 1;
}
.product-showcase-listing .swiper-clip:after {
    content: "";
    width: 1px;
    position: absolute;
    right: 0;
    background: #ddd;
    height: 100%;
    top: 0;
    z-index: 1;
}

.product-showcase-listing .swiper-wrapper {
    z-index: 2;
}

.product-showcase .product-item .product-card__name {
    max-width: 100%;
    margin-top: 10px;
    font-family: 'Roboto';
    text-transform: uppercase;
    font-weight: 900;
    font-size: 13px !important;
    line-height: 18px;
    padding: 0 30px;
    text-align: center;
    min-height: 36px;
}

.product-showcase .product-item .product-card__link {
    color: #444;
    text-decoration: none;
}

.product-showcase .product-item .prices.product-card__prices .prices__compare {
    font-size: 13px;
    margin-right: 5px;
    font-weight: 900;
}

.product-showcase .product-item .prices.product-card__prices {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
}

.product-showcase .product-item .prices.product-card__prices .prices__compare {
    padding: 0 0 2px 0;
    line-height: 1;
    color: #444;
}

.product-showcase .product-item .prices.product-card__prices .prices__value {
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    color: var(--cor-vermelho-2);
    line-height: 1;
}

.product-showcase .product-item .product-card__rating-custom {
    text-align: center;
    margin: 0 0 12px 0;
}

.product-showcase .product-item .product-card__rating-custom-text {
    font-size: 10px;
    word-spacing: 0px;
    font-weight: 600;
    margin: 8px 0px 0px 0px;
    display: block;
    line-height: 1;
    color: var(--cor-amarelo-2);
}

.product-showcase .product-item .product-card__rating-custom-stars {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    color: var(--cor-amarelo-1);
}

.product-showcase .product-item .product-card__pictures {
    height: 180px;
}

.product-showcase .product-item .product-card__pictures img {
    max-height: 180px;
}

.product-showcase .product-item .product-card {
    border: 1px solid transparent;
    box-shadow: none;
    padding: 35px 0 0;
    border-radius: 0;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 35px 0 58px 0;
}

.product-showcase .product-item .product-card:hover {
    border: 1px solid var(--cor-vermelho-2);
}

.product-showcase .product-item .product-card__offer-stamp {
    width: 45px;
    height: 45px;
    border-radius: 45px;
    min-width: auto;
    font-size: 13px;
    font-weight: 900;
    padding: 2px 0 0 0;
    left: 10px;
    top: 10px;
    background: var(--cor-vermelho-2);
}

.product-showcase .product-item .product-card__offer-stamp i {
    display: none;
}

.product-showcase .product-item .product-card__offer-stamp:after {
    content: "";
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 11px solid #fff;
    display: block;
    width: 0;
    height: 0;
    margin: -4px auto 0 auto;
}

.product-showcase .product-card > section {
    flex-wrap: wrap;
    flex-direction: unset;
    gap: 0;
    height: auto;
}

.product-showcase .product-card > section > * {
    width: 100%;
}

.product-showcase .product-card span:empty, 
.product-showcase .product-card div:empty {
    display: none;
}

.product-showcase .product-card__favorite {
    right: 10px !important;
    padding: 0;
    display: flex;
    top: 10px;
    width: auto !important;
    overflow: hidden;
    opacity: 0;
    transition: none;
}

.product-showcase .product-card__favorite i {
    margin: 0;
    line-height: initial;
    width: 26px;
    height: 22px;
    font-size: 26px;
    color: var(--cor-vermelho-2);
}

.product-showcase .product-card__favorite i:before {
    position: relative;
    top: -3px;
}

.product-showcase .product-card:hover .btn.product-card__favorite {
    opacity: 1;
}

.product-showcase .product-card__buy {
    padding: 10px 5px 5px 5px;
    transition: none;
    position: absolute;
    bottom: 0px;
}

.product-showcase .product-card__buy > button {
    background: var(--cor-verde-1);
    border: none;
    border-bottom: 3px solid var(--cor-verde-2);
    box-shadow: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    padding: 11px 0 9px 0;
    transition: all 0.3s;
}

.product-showcase .product-card__buy > button:hover {
    background: var(--cor-verde-2);
    border-bottom: 3px solid var(--cor-verde-3);
}

.product-showcase .product-item .prices.product-card__prices > span:not([class]) {
    transform: none !important;
    width: 100%;
}

.product-showcase .product-item .prices.product-card__prices > span:not([class]) > * {
    transform: none !important;
}

.product-showcase .product-item .prices.product-card__prices .prices__installments {
    color: var(--cor-vermelho-2);
    font-size: 12px;
    font-weight: 700;
    height: 15px;
    display: block;
    margin: 8px 0 0 0;
    text-align: center;
}

.product-showcase .product-item .prices.product-card__prices .skeleton-loading {
    height: 15px;
    display: flex !important;
    border-radius: 3px;
}

.product-showcase .product-item .skeletons {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.product-showcase .product-item .skeleton-loading.skeleton-installments {
    width: 60%;
    height: 15px;
    margin: 8px auto 0 auto;
}

.product-showcase .product-item .skeleton-loading.skeleton-pix {
    width: 50%;
    margin: 8px auto 0 auto;
    height: 22px !important;
}

.product-showcase .product-item .prices.product-card__prices > span:not([class]) .prices__installments:before {
    content: "até";
    font-weight: 500;
    color: #444;
}

.product-showcase .product-item .prices.product-card__prices > span:not([class]) .prices__installments span:before {
    content: "de";
    font-weight: 500;
    color: #444;
}

.product-showcase .product-item .prices.product-card__prices > span:not([class]) .prices__installments span:after {
    content: "sem juros";
    font-weight: 500;
    color: #444;
}

.product-showcase .prices__discount {
    text-align: center;
    font-weight: 900;
    font-size: 20px;
    color: #34af6f;
    margin: 6px 0 0 0;
    letter-spacing: -1px;
}

.product-showcase .prices__discount:before {
    content: "ou";
    font-size: 12px;
}

.product-showcase .prices__discount small.prices__discount-label {
    font-size: 12px;
    text-transform: lowercase;
    font-weight: 800;
}

@media (max-width: 767px) {
    .product-showcase .product-item .product-card__name {
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        font-size: 12px!important;
        font-weight: 400;
        height: 33px;
        letter-spacing: .1px;
        line-height: 16px;
        margin: 5px 0 6px;
        overflow: hidden;
        padding: 0 10px;
        text-align: left;
        text-transform: unset;
        min-height: auto;
    }
    
    .product-showcase .product-item .product-card {
        border: none;
        background: #fff;
        border-radius: 8px;
        box-shadow: 1px 1px 3px 0 rgb(0 0 0 / 5%);
        padding: 50px 0 50px 0;
        border: none !important;
    }
    
    .product-showcase .product-showcase-listing .swiper-clip:before,
    .product-showcase .product-showcase-listing .swiper-clip:after {
        display: none;
    }
    
    .product-showcase .swiper-pagination {
        position: static;
        padding: 12px 0 0 0;
        height: 22px;
        line-height: 2px;
    }
    
    .product-showcase .product-item .product-card__rating-custom-stars svg {
        width: 15px;
        height: 15px;
    }
    
    .product-showcase .product-item .product-card__rating-custom-stars {
        justify-content: flex-start;
        gap: 3px;
    }
    
    .product-showcase .product-item .product-card__rating-custom {
        padding: 0 10px;
        margin: 0 0 8px 0;
    }
    
    .product-showcase .product-item .product-card__rating-custom-text {
        text-align: left;
        margin: 5px 0 0 0;
    }
    
    .product-showcase .product-item .prices.product-card__prices {
        justify-content: flex-start;
        padding: 0 10px;
    }
    
    .product-showcase .product-item .prices.product-card__prices .prices__compare {
        font-size: 12px;
        font-weight: 600;
    }
    
    .product-showcase .product-item .prices.product-card__prices .prices__value {
        font-size: 18px;
    }
    
    .product-showcase .product-item .prices.product-card__prices > span:not([class]) {
        padding: 5px 0 0 0;
    }
    
    .product-showcase .product-item .prices.product-card__prices > span:not([class]) .prices__installments {
        text-align: left;
        font-size: 11px;
        margin: 0;
    }

    .product-showcase .product-item .prices__discount {
        text-align: left;
        font-size: 16px;
        margin: 5px 0 0 0;
    }
    
    .product-showcase .product-item .prices.product-card__prices .prices__compare s {
        position: relative;
        top: 1px;
    }
    
    .product-showcase .product-item .product-card__pictures, 
    .product-showcase .product-item .product-card__pictures img {
        height: 140px;
    }
    
    .product-showcase .product-card__buy {
        opacity: 1 !important;
    }
    
    .product-showcase .product-card__buy > button {
        font-size: 10px;
        padding: 7px 0 5px 0;
        border-radius: 6px;
    }
    
    .product-showcase .product-card__buy {
        padding: 10px 10px 10px 10px;
    }
    
    .product-showcase .swiper-slide {
        position: relative;
        height: auto;
    }
    
    .product-showcase .swiper-button-next, 
    .product-showcase .swiper-button-prev {
        top: 170px;
        transform: scale(0.9);
    }
    
    
    .product-showcase .swiper-pagination-bullet {
        border: 1px solid var(--cor-vermelho-2);
        background: none;
        width: 10px;
        height: 10px;
        margin: 0 2px !important;
    }
    
    .product-showcase span.swiper-pagination-bullet.swiper-pagination-bullet-active {
        background: var(--cor-vermelho-2);
    }

    .product-showcase .product-showcase-title {
        border: none;
        padding: 0;
        justify-content: center;
        gap: 8px;
        min-height: auto;
        margin: 40px 0 15px 0;
    }
    
    .product-showcase .product-showcase-title-text strong {
        font-size: 20px;
        font-family: 'Open Sans',sans-serif;
        font-weight: 700;
        letter-spacing: -1px;
    }

    .product-showcase .product-item .product-card__offer-stamp {
        width: 35px;
        height: 35px;
        font-size: 12px;
        font-weight: 500;
        padding: 1px 0 0 0;
    }
    
    .product-showcase .product-item .product-card__offer-stamp:after {
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 8px solid #fff;
        margin: -5px auto 0;
    }

    .product-showcase .product-item .prices.product-card__prices .skeleton-loading {
        width: 100%;
    }
}