.footer-credits {
    border: none;
    background: #000;
    color: #fff;
    padding: 40px 0 40px 0;
}

.footer-credits p {
    font-size: 15px;
    font-weight: 100;
    text-align: center;
    margin: 0;
}

@media (max-width: 767px) {
    .footer-credits p {
        font-size: 11px;
    }
    
    .footer-credits {
        padding: 20px 0;
        background: var(--cor-vermelho-2);
    }
}