<%
const slideOptions = {
    navigation: 'default',
    slidesPerView: 1,
    spaceBetween: 0,
} 
%>

<div class="horizontal-banners">
    <div class="container">
        <div class="horizontal-banners-wrapper">
            <div class="swiper" data-slide-options='<%- JSON.stringify(slideOptions) %>'>
                <div class="swiper-clip">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="/">
                                <img alt="Refletores LED" src="https://cdn.awsli.com.br/257/257163/arquivos/banner-horizontal-wireframe-refletores-07-06-23.png" width="1280" height="325">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="/">
                                <img alt="Luminárias LED" src="https://cdn.awsli.com.br/257/257163/arquivos/banner-horizontal-wireframe-luminaria-05-06-23.png" width="1280" height="325">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="/">
                                <img alt="Lustres LED" src="https://cdn.awsli.com.br/257/257163/arquivos/banner-horizontal-wireframe-lustres-05-06-23.png" width="1280" height="325">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="/">
                                <img alt="Spots LED" src="https://cdn.awsli.com.br/257/257163/arquivos/banner-horizontal-wireframe-spots-05-06-23.png" width="1280" height="325">
                            </a>
                        </div>
                    </div>
    
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
</div>
