<div class="side-navigation">
    <div class="side-navigation-categories">
        <div class="side-navigation-item">
            <div class="side-navigation-item-content">
                <a href="/refletores-de-led">
                    <div class="side-navigation-item-content-wrapper">
                        <div class="side-navigation-item-title">
                            <span>Refletores LED</span>
                        </div>

                        <div class="side-navigation-item-icon">
                            <i class="fa-4-7 fa-angle-right" aria-hidden="true"></i>
                        </div>
                    </div>
                </a>
            </div>

            <div class="side-navigation-item-dropdown">
                <a href="/refletor-microled">Refletores Micro LED</a>
                <div><a href="/refletor-micro-led-slim">Refletor Micro LED Slim</a></div>
                <div><a href="/refletor-micro-led-slim-branco-frio">Refletor Micro LED Slim Branco Frio</a></div>
                <div><a href="/refletor-micro-led-slim-branco-quente"> Refletor Micro LED Slim Branco Quente</a></div>
                <div><a href="/refletor-micro-led-smd-rgb"> Refletor Micro LED Slim RGB</a></div>
                <div><a href="/refletor-micro-led-smd-verde">Refletor Micro LED Slim Verde</a></div>
                <div><a href="/refletor-led-smd-ultra-thin"> Refletor Micro LED Ultra Thin</a></div>
                <div><a href="/refletor-micro-led-ultra-thin-branco-frio"> Refletor Micro LED Ultra Thin Branco Frio</a></div>
                <div><a href="/refletor-micro-led-ultra-thin-branco-quente"> Refletor Micro LED Ultra Thin Branco Quente</a></div>
                <div><a href="/refletor-micro-led-ultra-thin-rgb"> Refletor Micro LED Ultra Thin RGB</a></div>
                <div><a href="/refletor-micro-led-ultra-thin-verde"> Refletor Micro LED Ultra Thin Verde</a></div>
                <div><a href="/refletor-led-solar">Refletor Micro LED Solar</a></div>
                <div><a href="/refletor-led-modular">Refletor Micro LED Performance</a></div>
                <div><a href="/refletor-microled-ultra">Refletor Micro LED Ultra</a></div>
                <div><a href="/refletor-micro-led-com-sensor-de-presenca">Refletor Micro LED Sensor de Presença</a></div>
                <div><a href="/holofotes-led">Kits Refletores LED</a></div>
                <div><a href="/luz-de-led">Luz de LED</a></div>

                <a href="#!">Por Potência</a>
                <div><a href="/refletor-led-10w">Refletor LED 10w</a></div>
                <div><a href="/refletor-led-20w">Refletor LED 20w</a></div>
                <div><a href="/refletor-led-30w">Refletor LED 30w</a></div>
                <div><a href="/refletor-led-50w">Refletor LED 50w</a></div>
                <div><a href="/refletor-led-100w">Refletor LED 100w</a></div>
                <div><a href="/refletor-led-150w">Refletor LED 150w</a></div>
                <div><a href="/refletor-led-200w">Refletor LED 200w</a></div>
                <div><a href="/refletor-led-300w">Refletor LED 300w</a></div>
                <div><a href="/refletor-led-400w">Refletor LED 400w</a></div>
                <div><a href="/refletor-led-500w">Refletor LED 500w</a></div>
                <div><a href="/refletor-led-600w">Refletor LED 600w</a></div>
            </div>
        </div>

        <div class="side-navigation-item">
            <div class="side-navigation-item-content">
                <a href="/luminarias-led">
                    <div class="side-navigation-item-content-wrapper">
                        <div class="side-navigation-item-title">
                            <span>Luminárias LED</span>
                        </div>

                        <div class="side-navigation-item-icon">
                            <i class="fa-4-7 fa-angle-right" aria-hidden="true"></i>
                        </div>
                    </div>
                </a>
            </div>

            <div class="side-navigation-item-dropdown">
                <a href="/plafon-led">Plafons LED</a>
                <div><a href="/plafon-led-embutir">Plafon LED Embutir</a></div>
                <div><a href="/plafon-led-embutir-quadrado">Plafon LED Embutir Quadrado</a></div>
                <div><a href="/plafon-led-embutir-redondo">Plafon LED Embutir Redondo</a></div>
                <div><a href="/plafon-led-embutir-retangular">Plafon LED Embutir Retangular</a></div>
                <div><a href="/plafon-led-sobrepor">Plafon LED Sobrepor</a></div>
                <div><a href="/plafon-led-sobrepor-quadrado">Plafon LED Sobrepor Quadrado</a></div>
                <div><a href="/plafon-led-sobrepor-redondo">Plafon LED Sobrepor Redondo</a></div>
                <div><a href="/plafon-led-sobrepor-retangular">Plafon LED Sobrepor Retangular</a></div>
                <div><a href="/plafon-led-colorido">Plafon LED Colorido</a></div>
                <div><a href="/plafon-led-borda-infinita">Plafon LED Borda Infinita</a></div>
                <div><a href="/luminaria-plafon-led-recuado">Plafon LED Recuado</a></div>
                <div><a href="/kit-plafon-led">Kits Plafons LED</a></div>

                <a href="/luminarias-led">Luminárias LED</a>
                <div><a href="/arandela-led">Luminária LED Arandela</a></div>
                <div><a href="/luminaria-abajur">Luminária LED Abajur</a></div>
                <div><a href="/luminaria-solar-led">Luminária LED Solar</a></div>
                <div><a href="/luminaria-de-mesa">Luminária LED Mesa</a></div>            
                <div><a href="/luminaria-emergencia-led">Luminária LED Emergência</a></div>
                <div><a href="/luminaria-led-industrial-highbay">Luminária LED Industrial</a></div>
                <div><a href="/espeto-led">Luminária LED Espeto</a></div>
                <div><a href="/kit-plafon-led">Kits Luminárias LED</a></div>

                <a href="/luminarias-publicas-led">Luminária LED Pública</a>
                <div><a href="/luminaria-publica-super-led">Luminária LED Pública Super LED</a></div>
                <div><a href="/luminaria-publica-led-smd">Luminária LED Pública SMD LED</a></div>
                        
                <a href="/perfil-de-led">Perfil de LED</a>
                <div><a href="/perfil-de-led-embutir">Perfil de LED Embutir</a></div>
                <div><a href="/perfil-de-led-sobrepor">Perfil de LED Sobrepor</a></div>
                    
                <a href="#!">Por Potência</a>
                <div><a href="/plafon-led-3w">Plafon LED 3w</a></div>                
                <div><a href="/plafon-led-6w">Plafon LED 6w</a></div>
                <div><a href="/plafon-led-12w">Plafon LED 12w</a></div>
                <div><a href="/plafon-led-18w">Plafon LED 18w</a></div>
                <div><a href="/plafon-led-25w">Plafon LED 25w</a></div>
                <div><a href="/plafon-led-36w">Plafon LED 36w</a></div>
                <div><a href="/plafon-led-42w">Plafon LED 42w</a></div>                
                <div><a href="/plafon-led-45w">Plafon LED 45w</a></div>
                <div><a href="/plafon-led-48w">Plafon LED 48w</a></div>
            </div>
        </div>

        <div class="side-navigation-item">
            <div class="side-navigation-item-content">
                <a href="/spots">
                    <div class="side-navigation-item-content-wrapper">
                        <div class="side-navigation-item-title">
                            <span>Spots LED</span>
                        </div>

                        <div class="side-navigation-item-icon">
                            <i class="fa-4-7 fa-angle-right" aria-hidden="true"></i>
                        </div>
                    </div>
                </a>
            </div>

            <div class="side-navigation-item-dropdown">
                <a href="/spots">Spot LED</a>
                <div><a href="/spot-led-trilho-eletrificado">Spot LED Trilho Eletrificado</a></div>
                <div><a href="/spot-led-quadrado">Spot LED Dicróica Quadrado</a></div>
                <div><a href="/spot-led-redondo">Spot LED Dicróica Redondo</a></div>
                <div><a href="/spot-led-recuado">Spot LED Recuado</a></div>
                <div><a href="/mini-spot-led-quadrado">Spot LED Mini Quadrado</a></div>
                <div><a href="/mini-spot-led-redondo">Spot LED Mini Redondo</a></div>
                <div><a href="/spot-led-colorido-">Spot LED Colorido</a></div>
                <div><a href="/balizador-led">Spot LED Balizador</a></div>
                <div><a href="/spot-led-sobrepor">Spot LED Sobrepor</a></div>
                <div><a href="/kits-spots-led-dicroica">Kits Spots LED</a></div>
                <div><a href="/kit-trilho-eletrificado-com-spot-led">Kits Spots LED Trilho Eletrificado</a></div>

                <a href="#!">Por Potência</a>
                <div><a href="/spot-led-1w">Spot LED 1w</a></div>
                <div><a href="/spot-led-2w">Spot LED 2w</a></div>
                <div><a href="/spot-led-3w">Spot LED 3w</a></div>
                <div><a href="/spot-led-5w">Spot LED 5w</a></div>
                <div><a href="/spot-led-6w">Spot LED 6w</a></div>
                <div><a href="/spot-led-7w">Spot LED 7w</a></div>
                <div><a href="/spot-led-9w">Spot LED 9w</a></div>
                <div><a href="/spot-led-10w">Spot LED 10w</a></div>
                <div><a href="/spot-led-12w">Spot LED 12w</a></div>
                <div><a href="/spot-led-18w">Spot LED 18w</a></div>
                <div><a href="/spot-led-20w">Spot LED 20w</a></div>
                <div><a href="/spot-led-24w">Spot LED 24w</a></div>
                <div><a href="/spot-led-30w">Spot LED 30w</a></div>
            </div>
        </div>

        <div class="side-navigation-item">
            <div class="side-navigation-item-content">
                <a href="/lampada-led">
                    <div class="side-navigation-item-content-wrapper">
                        <div class="side-navigation-item-title">
                            <span>Lâmpadas LED</span>
                        </div>

                        <div class="side-navigation-item-icon">
                            <i class="fa-4-7 fa-angle-right" aria-hidden="true"></i>
                        </div>
                    </div>
                </a>
            </div>

            <div class="side-navigation-item-dropdown">
                <a href="/lampada-led">Lâmpadas LED</a>
                <div><a href="/lampada-led-tubular">Lâmpada LED Tubular</a></div>
                <div><a href="/lampada-led-bulbo">Lâmpada LED Bulbo</a></div>
                <div><a href="/lampada-led-alta-potencia">Lâmpada LED Alta Potência</a></div>
                <div><a href="/led-retro">Lâmpada LED Vintage Retro</a></div>
                <div><a href="/lampadas-decorativas">Lâmpada LED Decorativa</a></div>
                <div><a href="/par-led">Lâmpada LED Par 20/30</a></div>
                <div><a href="/halopin-led">Lâmpada LED Halopin</a></div>
                <div><a href="/vela-led">Lâmpada LED Vela</a></div>
                <div><a href="/lampada-led-ar">Lâmpada LED AR111/AR70</a></div>
                <div><a href="/lampada-led-rgb">Lâmpada LED RGB</a></div>
                <div><a href="/lampada-led-bolinha">Lâmpada LED Bolinha</a></div>
                <div><a href="/lampada-led-globo-balloon">Lâmpada LED Globo</a></div>
                <div><a href="/dicroica-led">Lâmpada LED Dicróica</a></div>
                <div><a href="/led-automotivo">Lâmpada LED Automotiva</a></div>
                <div><a href="/lampada-led-colorida">Lâmpada LED Colorida</a></div>
                <div><a href="/lampada-led-wi-fi">Lâmpada LED Wi-Fi</a></div>
                <div><a href="/kit-lampadas-de-led">Kits Lâmpadas LED</a></div>
                
                <a href="#!">Por Potência</a>
                <div><a href="/lampada-led-4w">Lâmpada LED 4w</a></div>
                <div><a href="/lampada-led-3w">Lâmpada LED 3w</a></div>
                <div><a href="/lampada-led-5w">Lâmpada LED 5w</a></div>
                <div><a href="/lampada-led-65w">Lâmpada LED 6,5w</a></div>
                <div><a href="/lampada-led-7w">Lâmpada LED 7w</a></div>
                <div><a href="/lampada-led-9w">Lâmpada LED 9w</a></div>
                <div><a href="/lampada-led-9-5w">Lâmpada LED 9,5w</a></div>
                <div><a href="/lampada-led-10w">Lâmpada LED 10w</a></div>
                <div><a href="/lampada-led-12w">Lâmpada LED 12w</a></div>
                <div><a href="/lampada-led-15w">Lâmpada LED 15w</a></div>
                <div><a href="/lampada-led-18w">Lâmpada LED 18w</a></div>
                <div><a href="/lampada-led-20w">Lâmpada LED 20w</a></div>
                <div><a href="/lampada-led-30w">Lâmpada LED 30w</a></div>
                <div><a href="/lampada-led-36w">Lâmpada LED 36w</a></div>
                <div><a href="/lampada-led-50w">Lâmpada LED 50w</a></div>
                <div><a href="/lampada-led-70w">Lâmpada LED 70w</a></div>
                <div><a href="/lampada-led-80w">Lâmpada LED 80w</a></div>
                <div><a href="/lampada-led-100w">Lâmpada LED 100w</a></div>
                <div><a href="/lampada-led-120w">Lâmpada LED 120w</a></div>
                <div><a href="/lampada-led-150w">Lâmpada LED 150w</a></div>
                <div><a href="/lampada-led-200w">Lâmpada LED 200w</a></div>
                <div><a href="/lampada-led-250w">Lâmpada LED 250w</a></div>
                
                <a href="#!">Por Base</a>
                <div><a href="/lampada-led-e14">Soquete LED E14</a></div>
                <div><a href="/lampada-led-e27">Soquete LED E27</a></div>
                <div><a href="/lampada-led-e40">Soquete LED E40</a></div>
                <div><a href="/lampada-led-g4">Soquete LED G4</a></div>
                <div><a href="/lampada-led-g9">Soquete LED G9</a></div>
                <div><a href="/soquete-g13">Soquete LED G13</a></div>
                <div><a href="/lampada-led-gu10">Soquete LED GU10</a></div>
                
                <a href="#!">Por Tamanho</a>
                <div><a href="/lampada-led-tubular-60cm">Lâmpada LED Tubular 60cm</a></div>
                <div><a href="/lampada-led-tubular-1-20m">Lâmpada LED Tubular 1,20m</a></div>
                <div><a href="/lampada-led-tubular-2-40m">Lâmpada LED Tubular 2,40m</a></div>
            </div>
        </div>

        <div class="side-navigation-item">
            <div class="side-navigation-item-content">
                <a href="/fita-de-led">
                    <div class="side-navigation-item-content-wrapper">
                        <div class="side-navigation-item-title">
                            <span>Fitas LED</span>
                        </div>

                        <div class="side-navigation-item-icon">
                            <i class="fa-4-7 fa-angle-right" aria-hidden="true"></i>
                        </div>
                    </div>
                </a>
            </div>

            <div class="side-navigation-item-dropdown">
                <a href="/fita-de-led">Fitas LED</a>
                <div><a href="/fita-led-rgb">Fita LED RGB</a></div>
                <div><a href="/fita-led-branco-quente">Fita LED Branco Quente</a></div>
                <div><a href="/fita-led-branca">Fita LED Branco Frio</a></div>
                <div><a href="/fita-led-branco-morno">Fita LED Branco Morno</a></div>
                <div><a href="/fita-led-azul">Fita LED Azul</a></div>
                <div><a href="/fita-led-vermelha">Fita LED Vermelha</a></div>
                <div><a href="/fita-led-verde">Fita LED Verde</a></div>
                <div><a href="/fita-led-ultravioleta">Fita LED Ultravioleta</a></div>
                <div><a href="/fita-led-rosa">Fita LED Rosa</a></div>
                <div><a href="/fita-led-12v">Fita LED 12v</a></div>
                <div><a href="/fita-neon">Fita LED Neon</a></div>
                <div><a href="/mangueiras-led">Mangueira LED</a></div>
                                
                <a href="#!">Por Metragem</a>
                <div><a href="/fita-led-1-metro">1 Metro</a></div>
                <div><a href="/fita-led-2-metros">2 Metros</a></div>
                <div><a href="/fita-led-3-metros">3 Metros</a></div>
                <div><a href="/fita-led-5-metros">5 Metros</a></div>
                <div><a href="/fita-led-10-metros">10 Metros</a></div>
                <div><a href="/fita-led-15-metros">15 Metros</a></div>
                <div><a href="/fita-led-20-metros">20 Metros</a></div>
                <div><a href="/fita-led-25-metros">25 Metros</a></div>
                <div><a href="/fita-led-30-metros">30 Metros</a></div>
            </div>
        </div>

        <div class="side-navigation-item">
            <div class="side-navigation-item-content">
                <a href="/pendente">
                    <div class="side-navigation-item-content-wrapper">
                        <div class="side-navigation-item-title">
                            <span>Pendentes LED</span>
                        </div>

                        <div class="side-navigation-item-icon">
                            <i class="fa-4-7 fa-angle-right" aria-hidden="true"></i>
                        </div>
                    </div>
                </a>
            </div>

            <div class="side-navigation-item-dropdown">
                <div><a href="/pendente-industrial">Pendente Industrial</a></div>
                <div><a href="/pendente-aramado">Pendente Aramado</a></div>
                <div><a href="/pendente-cone">Pendente Cone</a></div>
                <div><a href="/pendente-de-madeira">Pendente Madeira</a></div>
                <div><a href="/pendente-gota">Pendente Gota</a></div>
                <div><a href="/pendente-redondo">Pendente Redondo</a></div>
                <div><a href="/pendente-quadrado">Pendente Quadrado</a></div>
                <div><a href="/pendente-cilindrico">Pendente Cilíndrico</a></div>
                <div><a href="/pendente-tulipa">Pendente Tulipa</a></div>
                <div><a href="/kit-pendentes">Kits Pendentes</a></div>                            
            </div>
        </div>

        <div class="side-navigation-item">
            <div class="side-navigation-item-content">
                <a href="/lustre">
                    <div class="side-navigation-item-content-wrapper">
                        <div class="side-navigation-item-title">
                            <span>Lustre LED</span>
                        </div>

                        <div class="side-navigation-item-icon">
                            <i class="fa-4-7 fa-angle-right" aria-hidden="true"></i>
                        </div>
                    </div>
                </a>
            </div>

            <div class="side-navigation-item-dropdown">
               <div><a href="/lustre-pendente">Lustre LED Pendente</a></div>
               <div><a href="/lustre-cristal">Lustre LED Cristal</a></div>
               <div><a href="/lustre-plafon">Lustre LED Plafon</a></div>
               <div><a href="/lustre-candelabro">Lustre LED Candelabro</a></div>
               <div><a href="/lustre-classico">Lustre LED Clássico</a></div>
               <div><a href="/lustre-industrial">Lustre LED Industrial</a></div>
               <div><a href="/lustre-de-parede">Lustre LED de Parede</a></div>            
            </div>
        </div>

        <div class="side-navigation-item">
            <div class="side-navigation-item-content">
                <a href="/acessorios-para-leds">
                    <div class="side-navigation-item-content-wrapper">
                        <div class="side-navigation-item-title">
                            <span>Acessórios LED</span>
                        </div>

                        <div class="side-navigation-item-icon">
                            <i class="fa-4-7 fa-angle-right" aria-hidden="true"></i>
                        </div>
                    </div>
                </a>
            </div>

            <div class="side-navigation-item-dropdown">
                <a href="#!">Refletor LED</a>
                <div><a href="/chip-led">Chip Refletor LED</a></div>
                <div><a href="/driver-refletor-led">Driver Refletor LED</a></div>
                <div><a href="/controle-refletor-led">Controle Refletor LED</a></div>

                <a href="#!">Fita LED</a>
                <div><a href="/fonte-chaveada-led">Fonte Chaveada Fita lED</a></div>
                <div><a href="/fonte-convencional">Fonte Convencional Fita lED</a></div>
                <div><a href="/conectores-led">Conector Fita LED</a></div>
                <div><a href="/dimmer-led">Dimmer Fita LED</a></div>
                <div><a href="/emenda-para-fita-de-led">Emenda Fita LED</a></div>
                <div><a href="/controle-fita-led">Controle Fita LED</a></div>
                <div><a href="/amplificadores-led">Amplificador Fita LED</a></div>

                <a href="#!">Plafon LED</a>
                <div><a href="/driver-plafon-led">Driver Plafon LED</a></div>

                <a href="#!">Lâmpada LED</a>
                <div><a href="/soquete-led">Soquete Lâmpada LED</a></div>
                <div><a href="/sensor-de-presenca">Sensor de Presença LED</a></div>
                <div><a href="/rele-fotoeletrico">Relé Fotoelétrico LED</a></div>

                <a href="#!">Câmera LED</a>
                <div><a href="/acessorios-camera-led">Conector Câmera LED</a></div>

                <a href="#!">Outros</a>
                <div><a href="/drivers">Drivers</a></div>
                <div><a href="/controles">Controles</a></div>
                <div><a href="/interruptores-tomadas-led">Interruptor Tomada</a></div>
                <div><a href="/cabo-de-energia">Cabo de Energia</a></div>
            </div>
        </div>

        <div class="side-navigation-item">
            <div class="side-navigation-item-content">
                <a href="/camera-de-seguranca">
                    <div class="side-navigation-item-content-wrapper">
                        <div class="side-navigation-item-title">
                            <span>Câmera Segurança LED</span>
                        </div>

                        <div class="side-navigation-item-icon">
                            <i class="fa-4-7 fa-angle-right" aria-hidden="true"></i>
                        </div>
                    </div>
                </a>
            </div>

            <div class="side-navigation-item-dropdown">
                <div><a href="/acessorios-camera-led">Acessórios Câmera LED</a></div>
                <div><a href="/camera-de-seguranca-wifi">Câmera de Segurança Wi-Fi</a></div>
                <div><a href="/camera-led-dome">Câmera LED Dome</a></div>
                <div><a href="/camera-led-bullet">Câmera LED Bullet</a></div>
                <div><a href="/camera-led-hd">Câmera LED HD</a></div>
                <div><a href="/dvr-stand-alone">DVR Stand Alone</a></div>
            </div>
        </div>

        <div class="side-navigation-item">
            <div class="side-navigation-item-content">
                <a href="/led-solar">
                    <div class="side-navigation-item-content-wrapper">
                        <div class="side-navigation-item-title">
                            <span>Solar LED</span>
                        </div>

                        <div class="side-navigation-item-icon">
                            <i class="fa-4-7 fa-angle-right" aria-hidden="true"></i>
                        </div>
                    </div>
                </a>
            </div>

            <div class="side-navigation-item-dropdown">
                <div><a href="/luminaria-solar-led">Luminária LED Solar</a></div>
                <div><a href="/arandela-solar">Luminária Arandela LED Solar</a></div>
                <div><a href="/luminaria-publica-led-solar">Luminária Pública LED Solar</a></div>
                <div><a href="/refletor-led-solar">Refletor LED Solar</a></div>
                <div><a href="/espeto-led-solar">Espeto LED Solar</a></div>
            </div>
        </div>

        <div class="side-navigation-item">
            <div class="side-navigation-item-content">
                <a href="/iluminacao-industrial">
                    <div class="side-navigation-item-content-wrapper">
                        <div class="side-navigation-item-title">
                            <span>Industrial LED</span>
                        </div>

                        <div class="side-navigation-item-icon">
                            <i class="fa-4-7 fa-angle-right" aria-hidden="true"></i>
                        </div>
                    </div>
                </a>
            </div>

            <div class="side-navigation-item-dropdown">
                <div><a href="/lampada-industrial">Lâmpada Industrial</a></div>
                <div><a href="/luminaria-industrial">Luminária Industrial</a></div>
                <div><a href="/refletor-industrial">Refletor Industrial</a></div>
            </div>
        </div>

        <div class="side-navigation-item">
            <div class="side-navigation-item-content">
                <a href="/iluminacao-para-festa">
                    <div class="side-navigation-item-content-wrapper">
                        <div class="side-navigation-item-title">
                            <span>Festa LED</span>
                        </div>

                        <div class="side-navigation-item-icon">
                            <i class="fa-4-7 fa-angle-right" aria-hidden="true"></i>
                        </div>
                    </div>
                </a>
            </div>

            <div class="side-navigation-item-dropdown">
                <div><a href="/cortina-de-led">Cortina de LED</a></div>
                <div><a href="/espeto-led-para-festa">Espeto LED para Festa</a></div>
                <div><a href="/fita-led-para-festa">Fita LED para Festa</a></div>
                <div><a href="/lampada-led-para-festa">Lâmpada LED para Festa</a></div>
                <div><a href="/refletor-led-para-festa">Refletor LED para Festa</a></div>
            </div>
        </div>

        <div class="side-navigation-item">
            <div class="side-navigation-item-content">
                <a href="/kits-led">
                    <div class="side-navigation-item-content-wrapper">
                        <div class="side-navigation-item-title">
                            <span>Kits Especiais</span>
                        </div>

                        <div class="side-navigation-item-icon">
                            <i class="fa-4-7 fa-angle-right" aria-hidden="true"></i>
                        </div>
                    </div>
                </a>
            </div>

            <div class="side-navigation-item-dropdown">
                <a href="/holofotes-led">Kit Refletores LED</a>
                <div><a href="/kit-mini-refletor-micro-led">Kit Mini Refletor Micro LED</a></div>
                <div><a href="/kit-holofotes-led-sensor-de-presenca">Kit Refletor LED Sensor Presença</a></div>
                <div><a href="/kit-holofotes-microled">Kit Refletor Micro LED Slim</a></div>
                <div><a href="/kit-refletor-micro-led-slim-branco-frio">Kit Refletor Micro LED Slim Branco Frio</a></div>
                <div><a href="/kit-refletor-micro-led-slim-branco-quente">Kit Refletor Micro LED Slim Branco Quente</a></div>
                <div><a href="/refletor-micro-led-slim-rgb">Kit Refletor Micro LED Slim RGB</a></div>
                <div><a href="/kit-refletor-micro-led-slim-verde">Kit Refletor Micro LED Slim Verde</a></div>
                <div><a href="/kit-refletor-micro-led-ultra">Kit Refletor Micro LED Ultra</a></div>
                <div><a href="/kit-refletor-micro-led-ultra-thin">Kit Refletor Micro LED Ultra Thin</a></div>
                <div><a href="/kit-holofotes-led">Kit Refletor Super LED</a></div>

                <a href="/kit-plafon-led">Kit Luminárias Plafons LED</a>
                <div><a href="/kit-arandela-led">Kit Arandela LED</a></div>
                <div><a href="/kit-luminaria-publica-led">Kit Luminária Publica LED</a></div>
                <div><a href="/kit-luminarias-emergencia-led">Kit Luminárias Emergência LED</a></div>
                <div><a href="/kit-luminarias-linear-led">Kit Luminárias Linear LED</a></div>
                <div><a href="/kit-pendentes">Kit Pendentes</a></div>
                <div><a href="/kit-pendente-aramado">Kit Pendente Aramado</a></div>
                <div><a href="/kit-pendente-cone">Kit Pendente Cone</a></div>
                <div><a href="/kit-pendente-gota">Kit Pendente Gota</a></div>
                <div><a href="/kit-pendente-redondo">Kit Pendente Redondo</a></div>
                <div><a href="/kit-pendente-tulipa">Kit Pendente Tulipa</a></div>
                <div><a href="/kit-plafon-led-embutir">Kit Plafon LED Embutir</a></div>
                <div><a href="/kit-plafon-led-embutir-quadrado">Kit Plafon LED Embutir Quadrado</a></div>
                <div><a href="/kit-plafon-led-embutir-redondo">Kit Plafon LED Embutir Redondo</a></div>
                <div><a href="/kit-plafon-led-sobrepor">Kit Plafon LED Sobrepor</a></div>
                <div><a href="/kit-plafon-led-sobrepor-quadrado">Kit Plafon LED Sobrepor Quadrado</a></div>
                <div><a href="/kit-plafon-led-sobrepor-redondo">Kit Plafon LED Sobrepor Redondo</a></div>

                <a href="/kits-spots-led-dicroica">Kit Spots LED</a>
                <div><a href="/kit-balizadores-led">Kit Balizadores LED</a></div>
                <div><a href="/kit-mini-spot-led">Kit Mini Spot LED</a></div>
                <div><a href="/kit-spot-dicroica-led">Kit Spot Dicroica LED</a></div>
                <div><a href="/kit-spot-led-quadrado">Kit Spot LED Quadrado</a></div>
                <div><a href="/kit-spot-led-redondo">Kit Spot LED Redondo</a></div>
                <div><a href="/kit-spot-led-trilho">Kit Spot LED Trilho</a></div>
                <div><a href="/kit-trilho-eletrificado-com-spot-led">Kit Spot LED Trilho Eletrificado</a></div>

                <a href="/kit-lampadas-de-led">Kit Lampadas LED</a>
                <div><a href="/kit-lampada-led-bulbo">Kit Lampada LED Bulbo</a></div>
                <div><a href="/kit-lampada-led-dicroica">Kit Lampada LED Dicróica</a></div>
                <div><a href="/kit-lampada-led-halopin">Kit Lampada LED Halopin</a></div>
                <div><a href="/kit-lampada-led-tubular">Kit Lampada LED Tubular</a></div>

                <a href="/kit-espetos-de-led-para-jardim">Kit Espetos LED</a>
                <div><a href="/kit-espeto-led-branco-frio">Kit Espeto LED Branco Frio</a></div>
                <div><a href="/kit-espeto-led-verde">Kit Espeto LED Verde</a></div>

                <a href="/kits-fitas-led">Kit Fitas LED</a>
                <div><a href="/kit-fitas-led-3528">Kit Fitas LED 3528</a></div>
                <div><a href="/kit-fitas-led-5050">Kit Fitas LED 5050</a></div>

                <a href="/kit-camera-led">Kit Câmera LED</a>
                <div><a href="/kit-camera-led-bullet">Kit Câmera LED Bullet</a></div>
                <div><a href="/kit-camera-led-dome">Kit Câmera LED Dome</a></div>

                <a href="/kit-acessorios-led">Kit Acessórios LED</a>
                <div><a href="/kit-conector-led">Kit Conector LED</a></div>
                <div><a href="/kit-emenda-led">Kit Emenda LED</a></div>
                <div><a href="/kit-soquete-led">Kit Soquete LED</a></div>
            </div>
        </div>

        <div class="side-navigation-item">
            <div class="side-navigation-item-content">
                <a href="/compre-por-ambiente">
                    <div class="side-navigation-item-content-wrapper">
                        <div class="side-navigation-item-title">
                            <span>Compre por Ambiente</span>
                        </div>

                        <div class="side-navigation-item-icon">
                            <i class="fa-4-7 fa-angle-right" aria-hidden="true"></i>
                        </div>
                    </div>
                </a>
            </div>

            <div class="side-navigation-item-dropdown">
                <a href="/led-para-area-interna">LED para Area Interna</a>
                <div><a href="/luminaria-plafon-led-para-banheiros">LED para Banheiro</a></div>
                <div><a href="/led-para-corredores">LED para Corredor</a></div>
                <div><a href="/led-para-cozinha">LED para Cozinha</a></div>
                <div><a href="/led-para-escritorio">LED para Escritório</a></div>
                <div><a href="/led-para-dormitorios">LED para Quarto</a></div>
                <div><a href="/led-para-sala-de-estar">LED para Sala de Estar</a></div>
                <div><a href="/led-para-sala-de-jantar">LED para Sala de Jantar</a></div>

                <a href="/led-para-area-externa">LED para Área Externa</a>
                <div><a href="/led-para-estacionamento">LED para Estacionamento</a></div>
                <div><a href="/led-para-garagem">LED para Garagem</a></div>
                <div><a href="/led-para-jardim">LED para Jardim</a></div>
                <div><a href="/led-para-outdoor">LED para Outdoor</a></div>
                <div><a href="/led-para-quadra">LED para Quadra</a></div>
                <div><a href="/led-para-varanda">LED para Varanda</a></div>
            </div>
        </div>

        <div class="side-navigation-item">
            <div class="side-navigation-item-content">
                <a href="/lancamentos-led">
                    <div class="side-navigation-item-content-wrapper">
                        <div class="side-navigation-item-title">
                            <span>Lançamentos LED</span>
                        </div>

                        <div class="side-navigation-item-icon">
                            <i class="fa-4-7 fa-angle-right" aria-hidden="true"></i>
                        </div>
                    </div>
                </a>
            </div>

            <div class="side-navigation-item-dropdown">
                <div><a href="/lancamento-plafon-led-">Plafons LED</a></div>
                <div><a href="/lancamento-refletor-led">Refletores LED</a></div>
                <div><a href="/lancamento-spot-led">Spots LED</a></div>
                <div><a href="/lancamento-fita-led">Fitas LED</a></div>
                <div><a href="/lancamento-lampada-led">Lâmpadas LED</a></div>
                <div><a href="/lancamento-luminarias-led">Luminárias LED</a></div>
                <div><a href="/lustre-led">Lustre LED</a></div>
                <div><a href="/lancamento-pendente">Luminária Pendente</a></div>
                <div><a href="/lancamento-camera-led">Câmeras LED</a></div>
                <div><a href="/lancamento-festa-led">Festa LED</a></div>
                <div><a href="/lancamento-acessorios-led">Acessórios LED</a></div>
            </div>
        </div>

        <div class="side-navigation-item">
            <div class="side-navigation-item-content">
                <a href="/">
                    <div class="side-navigation-item-content-wrapper">
                        <div class="side-navigation-item-title">
                            <span>Frete Grátis</span>
                        </div>

                        <div class="side-navigation-item-icon">
                            <i class="fa-4-7 fa-angle-right" aria-hidden="true"></i>
                        </div>
                    </div>
                </a>
            </div>

            <div class="side-navigation-item-dropdown">
                <div><a href="/frete-gratis-refletor-led">Frete Grátis Refletores LED</a></div>
                <div><a href="/frete-gratis-luminaria-led">Frete Grátis Luminárias LED</a></div>
                <div><a href="/frete-gratis-spot-led">Frete Grátis Spots LED</a></div>
                <div><a href="/frete-gratis-fita-led">Frete Grátis Fitas LED</a></div>
                <div><a href="/frete-gratis-lampada-led">Frete Grátis Lâmpadas LED</a></div>
                <div><a href="/frete-gratis-acessorios-led">Frete Grátis Acessórios LED</a></div>
                <div><a href="/frete-gratis-cameras">Frete Grátis Câmeras LED</a></div>
            </div>
        </div>
    </div>
</div>