<div class="side-navigation">
    <div class="side-navigation-categories">
        <div class="side-navigation-item">
            <div class="side-navigation-item-content">
                <a href="/">
                    <div class="side-navigation-item-content-wrapper">
                        <div class="side-navigation-item-title">
                            <span>Refletores LED</span>
                        </div>

                        <div class="side-navigation-item-icon">
                            <i class="fa-4-7 fa-angle-right" aria-hidden="true"></i>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="side-navigation-item">
            <div class="side-navigation-item-content">
                <a href="/">
                    <div class="side-navigation-item-content-wrapper">
                        <div class="side-navigation-item-title">
                            <span>Luminárias LED</span>
                        </div>

                        <div class="side-navigation-item-icon">
                            <i class="fa-4-7 fa-angle-right" aria-hidden="true"></i>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="side-navigation-item">
            <div class="side-navigation-item-content">
                <a href="/">
                    <div class="side-navigation-item-content-wrapper">
                        <div class="side-navigation-item-title">
                            <span>Spots LED</span>
                        </div>

                        <div class="side-navigation-item-icon">
                            <i class="fa-4-7 fa-angle-right" aria-hidden="true"></i>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="side-navigation-item">
            <div class="side-navigation-item-content">
                <a href="/">
                    <div class="side-navigation-item-content-wrapper">
                        <div class="side-navigation-item-title">
                            <span>Lâmpadas LED</span>
                        </div>

                        <div class="side-navigation-item-icon">
                            <i class="fa-4-7 fa-angle-right" aria-hidden="true"></i>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="side-navigation-item">
            <div class="side-navigation-item-content">
                <a href="/">
                    <div class="side-navigation-item-content-wrapper">
                        <div class="side-navigation-item-title">
                            <span>Fitas LED</span>
                        </div>

                        <div class="side-navigation-item-icon">
                            <i class="fa-4-7 fa-angle-right" aria-hidden="true"></i>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="side-navigation-item">
            <div class="side-navigation-item-content">
                <a href="/">
                    <div class="side-navigation-item-content-wrapper">
                        <div class="side-navigation-item-title">
                            <span>Pendentes LED</span>
                        </div>

                        <div class="side-navigation-item-icon">
                            <i class="fa-4-7 fa-angle-right" aria-hidden="true"></i>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="side-navigation-item">
            <div class="side-navigation-item-content">
                <a href="/">
                    <div class="side-navigation-item-content-wrapper">
                        <div class="side-navigation-item-title">
                            <span>Lustre LED</span>
                        </div>

                        <div class="side-navigation-item-icon">
                            <i class="fa-4-7 fa-angle-right" aria-hidden="true"></i>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="side-navigation-item">
            <div class="side-navigation-item-content">
                <a href="/">
                    <div class="side-navigation-item-content-wrapper">
                        <div class="side-navigation-item-title">
                            <span>Acessórios LED</span>
                        </div>

                        <div class="side-navigation-item-icon">
                            <i class="fa-4-7 fa-angle-right" aria-hidden="true"></i>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="side-navigation-item">
            <div class="side-navigation-item-content">
                <a href="/">
                    <div class="side-navigation-item-content-wrapper">
                        <div class="side-navigation-item-title">
                            <span>Câmera Segurança LED</span>
                        </div>

                        <div class="side-navigation-item-icon">
                            <i class="fa-4-7 fa-angle-right" aria-hidden="true"></i>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="side-navigation-item">
            <div class="side-navigation-item-content">
                <a href="/">
                    <div class="side-navigation-item-content-wrapper">
                        <div class="side-navigation-item-title">
                            <span>Solar LED</span>
                        </div>

                        <div class="side-navigation-item-icon">
                            <i class="fa-4-7 fa-angle-right" aria-hidden="true"></i>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="side-navigation-item">
            <div class="side-navigation-item-content">
                <a href="/">
                    <div class="side-navigation-item-content-wrapper">
                        <div class="side-navigation-item-title">
                            <span>Industrial LED</span>
                        </div>

                        <div class="side-navigation-item-icon">
                            <i class="fa-4-7 fa-angle-right" aria-hidden="true"></i>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="side-navigation-item">
            <div class="side-navigation-item-content">
                <a href="/">
                    <div class="side-navigation-item-content-wrapper">
                        <div class="side-navigation-item-title">
                            <span>Kits Especiais</span>
                        </div>

                        <div class="side-navigation-item-icon">
                            <i class="fa-4-7 fa-angle-right" aria-hidden="true"></i>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="side-navigation-item">
            <div class="side-navigation-item-content">
                <a href="/">
                    <div class="side-navigation-item-content-wrapper">
                        <div class="side-navigation-item-title">
                            <span>Compre por Ambiente</span>
                        </div>

                        <div class="side-navigation-item-icon">
                            <i class="fa-4-7 fa-angle-right" aria-hidden="true"></i>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="side-navigation-item">
            <div class="side-navigation-item-content">
                <a href="/">
                    <div class="side-navigation-item-content-wrapper">
                        <div class="side-navigation-item-title">
                            <span>Lançamentos LED</span>
                        </div>

                        <div class="side-navigation-item-icon">
                            <i class="fa-4-7 fa-angle-right" aria-hidden="true"></i>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="side-navigation-item">
            <div class="side-navigation-item-content">
                <a href="/">
                    <div class="side-navigation-item-content-wrapper">
                        <div class="side-navigation-item-title">
                            <span>Frete Grátis</span>
                        </div>

                        <div class="side-navigation-item-icon">
                            <i class="fa-4-7 fa-angle-right" aria-hidden="true"></i>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

</div>