<div class="footer-links">
    <div class="container">
        <div class="footer-links-wrapper">
            <div>
                <div class="footer-links-item footer-links-item-categories">
                    <strong class="footer-links-item-title">Categorias</strong>
                    <div class="footer-links-item-content">
                        <ul>
                            <li><a href="/refletores-de-led">Refletores LED</a></li>
                            <li><a href="/luminarias-led">Luminárias LED</a></li>
                            <li><a href="/spots">Spots LED</a></li>
                            <li><a href="/fitas-de-led">Fitas LED</a></li>
                            <li><a href="/lampada/led">Lâmpadas LED</a></li>
                            <li><a href="/lustre">Lustre LED</a></li>
                            <li><a href="/pendente">Pendentes</a></li>
                            <li><a href="/arandela-led">Arandelas LED</a></li>
                            <li><a href="/refletor-led-solar">Refletor Solar</a></li>
                            <li><a href="/plafon-led">Plafon LED</a></li>
                            <li><a href="/luminaria-solar-led">Luminária Solar</a></li>
                            <li><a href="/dicroica-led">Lâmpada Dicróica</a></li>
                            <li><a href="/luminaria-de-teto">Luminária de Teto</a></li>
                            <li><a href="/spot-led-trilho-eletrificado">Trilho Eletrificado</a></li>
                            <li><a href="/luminaria-abajur">Abajures</a></li>
                            <li><a href="/kits-led">Kits Especiais</a></li>
                            <li><a href="/lancamentos-led">Lançamentos LED</a></li>
                            <li><a href="/ofertadasemana">Oferta da Semana</a></li>
                        </ul>
                    </div>
                </div>
                
                <div>
                    <div class="footer-links-item footer-links-item-attendment">
                        <strong class="footer-links-item-title">Atendimento</strong>
                        <div class="footer-links-item-content">
                            <ul>
                                <li><a href="/pages/central-de-atendimento">Central online</a></li>
                                <li><a href="/pages/central-de-vendas">Central de vendas</a></li>
                                <li><a href="/pages/politica-de-troca">Trocas e devoluções</a></li>
                                <li><a href="/app/#/account/orders">Meus pedidos</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="footer-links-item footer-links-item-companies">
                        <strong class="footer-links-item-title">Empresas</strong>
                        <div class="footer-links-item-content">
                            <ul class="lista-links">
								<li><a href="https://wa.me/5551992009792?text=Ol%C3%A1%2C+eu+busco+atendimento+para+empresas%21" target="_blank">Venda para empresas</a></li>
								<li><a href="https://wa.me/5551992009792?text=Ol%C3%A1%2C+eu+busco+atendimento+para+Condom%C3%ADnios%21" target="_blank">Venda para condomínios</a></li>
								<li><a href="https://wa.me/5551992009792?text=Ol%C3%A1%2C+eu+busco+atendimento+para+revendas%21" target="_blank">Seja nosso revendedor</a></li>
							</ul>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div class="footer-links-item footer-links-item-institutional">
                    <strong class="footer-links-item-title">Institucional</strong>
                    <div class="footer-links-item-content">
                        <ul class="lista-links">
                            <li><a href="/pages/trabalhe-conosco">Trabalhe conosco</a></li>
                            <li><a href="/pages/quem-somos">Sobre a Iluminim</a></li>
                            <li><a href="/pages/lojas-iluminim">Sobre a Loja Física</a></li>
                            <li><a href="/pages/retirada-em-todo-o-brasil">Pontos de Retirada</a></li>
                            <li><a href="/pages/politica-de-compra">Política de Compra</a></li>
                            <li><a href="/pages/politica-de-entrega">Política de Entrega</a></li>
                            <li><a href="/pages/iluminim-e-confiavel">Iluminim é confiável?</a></li>
                            <li><a href="/pages/mapa-do-site">Mapa do Site</a></li>
                            <li><a href="https://blog.iluminim.com.br/" rel="noopener" target="_blank">Blog</a></li>
                        </ul>
                    </div>
                </div>

                <div class="footer-links-item footer-links-item-about-us">
                    <strong class="footer-links-item-title">Sobre a loja</strong>
                    <div class="footer-links-item-content">
                        <p>Encontre na Iluminim toda linha LED: Refletores, Luminárias, Fitas, Plafons, Spots e muito mais. Garantia e qualidade de quem atua há mais de 10 anos no mercado e possuí mais de 1.000.000 clientes satisfeitos!</p>
                    </div>
                </div>
            </div>

            <div>
                <div class="footer-links-item footer-links-item-social-media">
                    <strong class="footer-links-item-title">Acompanhe-nos</strong>
                    <div class="footer-links-item-content">
                        <ul>
							<li>
							   <a href="https://facebook.com/iluminim/" rel="noopener" target="_blank">
								  <img loading="lazy" src="/img/uploads/social-media-icons/facebook.png.webp" alt="Facebook" title="Facebook">
							   </a>
							</li>
							
							<li>
							   <a href="https://www.youtube.com/@IluminimLed" rel="noopener" target="_blank">
								  <img loading="lazy" src="/img/uploads/social-media-icons/youtube.png.webp" alt="Youtube" title="Youtube">
							   </a>
							</li>
							
							<li>
							   <a href="https://instagram.com/iluminimled" rel="noopener" target="_blank">
								  <img loading="lazy" src="/img/uploads/social-media-icons/instagram.png.webp" alt="Instagram" title="Instagram">
							   </a>
							</li>
							
							<li>
							   <a href="https://pinterest.com/iluminim" rel="noopener" target="_blank">
								  <img loading="lazy" src="/img/uploads/social-media-icons/pinterest.png.webp" alt="Pinterest" title="Pinterest">
							   </a>
							</li>
		  
							<li>
							   <a href="https://www.linkedin.com/company/iluminim" rel="noopener" target="_blank">
								  <img loading="lazy" src="/img/uploads/social-media-icons/linkedin.png.webp" alt="LinkedIn" title="LinkedIn">
							   </a>
							</li>

							<li>
							   <a href="https://blog.iluminim.com.br/" rel="noopener" target="_blank">
								  <img loading="lazy" src="/img/uploads/social-media-icons/blog.png.webp" alt="Blog" title="Blog">
							   </a>
							</li>
                        </ul>
                    </div>
                </div>

                <div class="footer-links-item footer-links-item-app">
                    <strong class="footer-links-item-title">Baixe nosso aplicativo</strong>
                    <div class="footer-links-item-content">
                        <ul>
							<li><a href="https://deeplink.mobilestores.app/207?page=home&amp;action=" target="_blank" rel="noopener"><img loading="lazy" src="/img/uploads/platforms-image/google-play.png.webp" alt="Play Store" title="Play Store"></a></li>
							<li><a href="https://deeplink.mobilestores.app/207?page=home&amp;action=" target="_blank" rel="noopener"><img loading="lazy" src="/img/uploads/platforms-image/app-store.png.webp" alt="App Store" title="App Store"></a></li>
						</ul>
                    </div>
                </div>

                <div class="footer-links-item footer-links-item-payments">
                    <strong class="footer-links-item-title">Baixe nosso aplicativo</strong>
                    <div class="footer-links-item-content">
                        <ul>
							<li><div><img loading="lazy" src="/img/uploads/payment-flags/american-express.png.webp" alt="American Express" title="American Express"></div></li>
							<li><div><img loading="lazy" src="/img/uploads/payment-flags/boleto.png.webp" alt="Diners Club" title="Diners Club"></div></li>
							<li><div><img loading="lazy" src="/img/uploads/payment-flags/elo.png.webp" alt="Elo" title="Elo"></div></li>
							<li><div><img loading="lazy" src="/img/uploads/payment-flags/diners-club.png.webp" alt="HiperCard" title="HiperCard"></div></li>
							<li><div><img loading="lazy" src="/img/uploads/payment-flags/mastercard.png.webp" alt="MasterCard" title="MasterCard"></div></li>
							<li><div><img loading="lazy" src="/img/uploads/payment-flags/hipercard.png.webp" alt="Visa" title="Visa"></div></li>
							<li class="bandeira-boleto"><div><img loading="lazy" src="/img/uploads/payment-flags/boleto.png.webp" alt="Boleto" title="Boleto"></div></li>
							<li class="bandeira-pix"><div><img loading="lazy" src="/img/uploads/payment-flags/pix.png.webp" alt="Pix" title="Pix"></div></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>