<div class="top-bar">
    <div class="container">
        <div class="top-bar-wrapper">
            <img loading="eager" width="1280" height="45" alt="LED Ofertas frete grátis expresso para todo o brasil!" title="LED Ofertas frete grátis expresso para todo o brasil!" src="/img/uploads/top-bar/banner-top-bar.png.webp">
        </div>
    </div>
</div>