<div class="top-bar">
    <div class="container">
        <div class="top-bar-wrapper">
            <img width="1280" height="45" alt="LED Ofertas frete grátis expresso para todo o brasil!" title="LED Ofertas frete grátis expresso para todo o brasil!" src="https://cdn.awsli.com.br/257/257163/arquivos/tarja-topo-18-07-23.png">
        </div>
    </div>
</div>