<%
const slideOptions = {
    navigation: 'default',
    slidesPerView: 1,
    spaceBetween: 0,
}
%>

<div class="full-banners">
    <div class="container">
        <div class="swiper" data-slide-options='<%- JSON.stringify(slideOptions) %>'>
            <div class="swiper-clip">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="/">
                            <img loading="lazy" alt="Banner Chamada" src="/img/uploads/full-banners/desktop/chamada.png.webp" width="1280" height="466">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="/">
                            <img loading="lazy" alt="Frete Grátis" src="/img/uploads/full-banners/desktop/frete-gratis.png.webp" width="1280" height="466">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="/">
                            <img loading="lazy" alt="RSPM-200WBF" src="/img/uploads/full-banners/desktop/RSPM-200WBF.png.webp" width="1280" height="466">
                        </a>
                    </div>
                </div>

                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</div>