<div class="footer-links">
    <div class="container">
        <div class="footer-links-wrapper">
            <div>
                <div class="footer-links-item footer-links-item-categories">
                    <strong class="footer-links-item-title">Categorias</strong>
                    <div class="footer-links-item-content">
                        <ul>
                            <li><a href="/refletores-de-led?sort=mais_vendidos">Refletores LED</a></li>
                            <li><a href="/luminarias-led?sort=mais_vendidos">Luminárias LED</a></li>
                            <li><a href="/spots">Spots LED</a></li>
                            <li><a href="/fitas-de-led?sort=mais_vendidos">Fitas LED</a></li>
                            <li><a href="/lampada/led?sort=mais_vendidos">Lâmpadas LED</a></li>
                            <li><a href="/lustre">Lustre LED</a></li>
                            <li><a href="/pendente?sort=mais_vendidos">Pendentes</a></li>
                            <li><a href="/arandela-led?sort=mais_vendidos">Arandelas LED</a></li>
                            <li><a href="/refletor-led-solar?sort=mais_vendidos">Refletor Solar</a></li>
                            <li><a href="/plafon-led?sort=mais_vendidos">Plafon LED</a></li>
                            <li><a href="/luminaria-solar-led?sort=mais_vendidos">Luminária Solar</a></li>
                            <li><a href="/dicroica-led?sort=mais_vendidos">Lâmpada Dicróica</a></li>
                            <li><a href="/luminaria-de-teto?sort=mais_vendidos">Luminária de Teto</a></li>
                            <li><a href="/spot-led-trilho-eletrificado">Trilho Eletrificado</a></li>
                            <li><a href="/luminaria-abajur?sort=mais_vendidos">Abajures</a></li>
                            <li><a href="/kits-led">Kits Especiais</a></li>
                            <li><a href="/lancamentos-led">Lançamentos LED</a></li>
                            <li><a href="/ofertadasemana?sort=mais_vendidos">Oferta da Semana</a></li>
                        </ul>
                    </div>
                </div>
                
                <div>
                    <div class="footer-links-item footer-links-item-attendment">
                        <strong class="footer-links-item-title">Atendimento</strong>
                        <div class="footer-links-item-content">
                            <ul>
                                <li><a href="/pagina/central-de-atendimento.html">Central online</a></li>
                                <li><a href="/pagina/central-de-vendas.html">Central de vendas</a></li>
                                <li><a href="/pagina/politica-de-troca.html">Trocas e devoluções</a></li>
                                <li><a href="/conta/pedido/listar">Meus pedidos</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="footer-links-item footer-links-item-companies">
                        <strong class="footer-links-item-title">Empresas</strong>
                        <div class="footer-links-item-content">
                            <ul>
                                <li><a href="/pagina/atendimento-empresarial.html">Venda para empresas</a></li>
                                <li><a href="/pagina/led-para-condominio.html">Venda para condomínios</a></li>
                                <li><a href="/pagina/cadastro-de-arquiteto.html">Venda para arquitetos</a></li>
                                <li><a href="https://representante.iluminim.com.br/" target="_blank">Seja nosso representante</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div class="footer-links-item footer-links-item-institutional">
                    <strong class="footer-links-item-title">Institucional</strong>
                    <div class="footer-links-item-content">
                        <ul class="lista-links">
                            <li><a href="/pagina/trabalhe-conosco.html">Trabalhe conosco</a></li>
                            <li><a href="/pagina/quem-somos.html">Sobre a Iluminim</a></li>
                            <li><a href="/pagina/lojas-iluminim.html">Sobre a Loja Física</a></li>
                            <li><a href="/pagina/retirada-em-todo-o-brasil.html">Pontos de Retirada</a></li>
                            <li><a href="/pagina/politica-de-compra.html">Política de Compra</a></li>
                            <li><a href="/pagina/politica-de-entrega.html">Política de Entrega</a></li>
                            <li><a href="/pagina/iluminim-e-confiavel.html">Iluminim é confiável?</a></li>
                            <li><a href="/pagina/mapa-do-site.html">Mapa do Site</a></li>
                            <li><a href="https://blog.iluminim.com.br/" rel="noopener" target="_blank">Blog</a></li>
                        </ul>
                    </div>
                </div>

                <div class="footer-links-item footer-links-item-about-us">
                    <strong class="footer-links-item-title">Sobre a loja</strong>
                    <div class="footer-links-item-content">
                        <p>Encontre na Iluminim toda linha LED: Refletores, Luminárias, Fitas, Plafons, Spots e muito mais. Garantia e qualidade de quem atua há mais de 10 anos no mercado e possuí mais de 1.000.000 clientes satisfeitos!</p>
                    </div>
                </div>
            </div>

            <div>
                <div class="footer-links-item footer-links-item-social-media">
                    <strong class="footer-links-item-title">Acompanhe-nos</strong>
                    <div class="footer-links-item-content">
                        <ul>
							<li>
							   <a href="https://facebook.com/iluminim/" rel="noopener" target="_blank">
								  <img src="https://cdn.awsli.com.br/257/257163/arquivos/facebook-icon-05-10-21.png" alt="Facebook" title="Facebook">
							   </a>
							</li>
							
							<li>
							   <a href="https://www.youtube.com/@IluminimLed" rel="noopener" target="_blank">
								  <img src="https://cdn.awsli.com.br/257/257163/arquivos/youtube-icon-05-10-21.png" alt="Youtube" title="Youtube">
							   </a>
							</li>
							
							<li>
							   <a href="https://instagram.com/iluminimled" rel="noopener" target="_blank">
								  <img src="https://cdn.awsli.com.br/257/257163/arquivos/instagram-icon-05-10-21.png" alt="Instagram" title="Instagram">
							   </a>
							</li>
							
							<li>
							   <a href="https://pinterest.com/iluminim" rel="noopener" target="_blank">
								  <img src="https://cdn.awsli.com.br/257/257163/arquivos/pinterest-icon-05-10-21.png" alt="Pinterest" title="Pinterest">
							   </a>
							</li>
		  
							<li>
							   <a href="https://www.linkedin.com/company/iluminim" rel="noopener" target="_blank">
								  <img src="https://cdn.awsli.com.br/257/257163/arquivos/linkedin-icon-05-10-21.png" alt="Linkedin" title="Linkedin">
							   </a>
							</li>

							<li>
							   <a href="https://blog.iluminim.com.br/" rel="noopener" target="_blank">
								  <img src="https://cdn.awsli.com.br/257/257163/arquivos/blog-icon-26-04-23.png" alt="Blog" title="Blog">
							   </a>
							</li>
                        </ul>
                    </div>
                </div>

                <div class="footer-links-item footer-links-item-app">
                    <strong class="footer-links-item-title">Baixe nosso aplicativo</strong>
                    <div class="footer-links-item-content">
                        <ul>
							<li><a href="https://deeplink.mobilestores.app/207?page=home&amp;action=" target="_blank" rel="noopener"><img src="https://cdn.awsli.com.br/257/257163/arquivos/icon-googleplay-06-10-21.png" alt="Play Store" title="Play Store"></a></li>
							<li><a href="https://deeplink.mobilestores.app/207?page=home&amp;action=" target="_blank" rel="noopener"><img src="https://cdn.awsli.com.br/257/257163/arquivos/icon-apple-store-28-02-23.png" alt="App Store" title="App Store"></a></li>
						</ul>
                    </div>
                </div>

                <div class="footer-links-item footer-links-item-payments">
                    <strong class="footer-links-item-title">Baixe nosso aplicativo</strong>
                    <div class="footer-links-item-content">
                        <ul>
							<li><div><img src="https://cdn.awsli.com.br/257/257163/arquivos/AMERICAN-EXPRESS-icon-05-10-21.png" alt="American Express" title="American Express"></div></li>
							<li><div><img src="https://cdn.awsli.com.br/257/257163/arquivos/DINERS-CLUB-icon-05-10-21.png" alt="Diners Club" title="Diners Club"></div></li>
							<li><div><img src="https://cdn.awsli.com.br/257/257163/arquivos/ELO-icon-05-10-21.png" alt="Elo" title="Elo"></div></li>
							<li><div><img src="https://cdn.awsli.com.br/257/257163/arquivos/HIPERCARD-icon-05-10-21.png" alt="HiperCard" title="HiperCard"></div></li>
							<li><div><img src="https://cdn.awsli.com.br/257/257163/arquivos/MASTER-icon-05-10-21.png" alt="MasterCard" title="MasterCard"></div></li>
							<li><div><img src="https://cdn.awsli.com.br/257/257163/arquivos/VISA-icon-05-10-21.png" alt="Visa" title="Visa"></div></li>
							<li class="bandeira-boleto"><div><img src="https://cdn.awsli.com.br/257/257163/arquivos/icon-boleto-13-10-21.png" alt="Boleto" title="Boleto"></div></li>
							<li class="bandeira-pix"><div><img src="https://cdn.awsli.com.br/257/257163/arquivos/icon-pix-13-10-21.png" alt="Pix" title="Pix"></div></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>