<div class="mini-banners">
    <div class="container">
        <div class="mini-banners-wrapper">
            <div class="mini-banners-item mini-banners-item-1">
                <a href="/">
                    <img alt="test" src="https://cdn.awsli.com.br/257/257163/arquivos/minibanner-refletores-18-07-23.png" width="407" height="529">
                </a>
            </div>
            <div class="mini-banners-item mini-banners-item-2">
                <a href="/">
                    <img alt="test" src="https://cdn.awsli.com.br/257/257163/arquivos/minibanner-lancamentos-18-07-23.png" width="407" height="529">
                </a>
            </div>
            <div class="mini-banners-item mini-banners-item-3">
                <a href="/">
                    <img alt="test" src="https://cdn.awsli.com.br/257/257163/arquivos/minibanner-super-ofertas-18-07-23.png" width="407" height="529">
                </a>
            </div>
        </div>
    </div>
</div>
