<div class="mini-banners">
    <div class="container">
        <div class="mini-banners-wrapper">
            <div class="mini-banners-item mini-banners-item-1">
                <a href="/">
                    <img loading="lazy" alt="Lançamentos LED" src="/img/uploads/mini-banners/lancamentos-led.png" width="407" height="529">
                </a>
            </div>
            <div class="mini-banners-item mini-banners-item-2">
                <a href="/">
                    <img loading="lazy" alt="Refletores LED" src="/img/uploads/mini-banners/refletores-led.png" width="407" height="529">
                </a>
            </div>
            <div class="mini-banners-item mini-banners-item-3">
                <a href="/">
                    <img loading="lazy" alt="Refletores LED" src="/img/uploads/mini-banners/super-ofertas-led.png" width="407" height="529">
                </a>
            </div>
        </div>
    </div>
</div>
