<div class="footer-security-seals">
    <div class="container">
        <div class="footer-security-seals-wrapper">
            <ul>
                <li><div><img width="99" height="27" alt="Selo Google" title="Selo Google" src="https://cdn.awsli.com.br/257/257163/arquivos/google-selo-ilm-04-01-22.png"></div></li>
                <li><div><img width="36" height="60" alt="Great Place To Work" title="Great Place to Work" src="https://cdn.awsli.com.br/257/257163/arquivos/selo-great-place-to-work-15-03-2023-v3.png"></div></li>
                <li><div><img width="71" height="83" alt="Selo Site Sincero" title="Selo Site Sincero" src="https://cdn.awsli.com.br/257/257163/arquivos/23-09-21-selo-trustvox.png"></div></li>
                <li><div><img width="63" height="81" alt="Selo Abcomm" title="Selo Abcomm" src="https://cdn.awsli.com.br/257/257163/arquivos/23-09-21-selo-abcoom.png"></div></li>
                <li><div><img width="49" height="62" alt="Selo Ebit" title="Selo Ebit" src="https://cdn.awsli.com.br/257/257163/arquivos/ebit-selo-ilm-04-01-22.png"></div></li>
                <li><div><img width="81" height="81" alt="Selo Mercado Pago" title="Selo Mercado Pago" src="https://cdn.awsli.com.br/257/257163/arquivos/23-09-21-selo-mercado-pago.png"></div></li>
                <li><div><img width="67" height="82" alt="Selo Site Blindado" title="Selo Site Blindado" src="https://cdn.awsli.com.br/257/257163/arquivos/23-09-21-selo-site-blindado.png"></div></li>
                <li><div><img width="74" height="83" alt="Selo Site Protegido" title="Selo Site Protegido" src="https://cdn.awsli.com.br/257/257163/arquivos/23-09-21-selo-site-protegido.png"></div></li>
            </ul>
        </div>
    </div>
</div>