body#page-products .product-info .product-info-details {
    display: flex;
    flex-direction: column;
    gap: 9px;
    margin: 0px 0 20px 0;
    border-bottom: 1px solid #ddd;
    padding: 0 0 20px 0;
}

body#page-products .product-info .product-info-details > div {
    display: flex;
    gap: 5px;
    font-size: 11px;
    line-height: 1;
}

body#page-products .product-info .product-info-details > div > div {
    display: flex;
    align-items: center;
    gap: 3px;
}

body#page-products .product-info .product-info-details-rating b {
    position: relative;
    top: 1px;
}

body#page-products .product-info .product-info-details .product-info-details-sales {
    font-size: 12px;
}

body#page-products .product-info .product-info-details-rating > div {
    color: var(--cor-amarelo-1);
}

body#page-products .product-info .product-price-dropped {
    display: inline-flex;
    align-items: center;
    gap: 3px;
    font-weight: 700;
    border-radius: 4px;
    background: var(--cor-verde-1);
    color: #fff;
    font-size: 13px;
    padding: 8px 9px 7px 7px;
    line-height: 1;
    margin: 0 0 6px 0;
}

body#page-products div#product-block section#product > .row {
    align-items: flex-start;
}

body#page-products .product-info .prices--big span.prices__compare > small:last-child {
    display: none;
}

body#page-products .product-info .prices--big strong.prices__value {
    font-size: 22px;
    font-weight: 900;
    color: var(--cor-vermelho-2);
    display: block;
    line-height: 1;
    margin: 0 0 9px 0px;
}

body#page-products .product-info strong.prices__value:before {
    content: "por";
    font-weight: 500;
    font-size: 18px;
    margin: 0 -2px 0 0;
}

body#page-products .product-info span.prices__compare {
    font-weight: 800;
    margin: 8px 0 4px 0;
    display: block;
    line-height: 1;
}


body#page-products .product-main-benefits .product-main-benefits-title {
    font-size: 19px;
    font-weight: 700;
    letter-spacing: -1px;
    display: block;
    border-bottom: 1px solid #ddd;
    padding: 0 0 15px 0;
    margin: 20px 0 15px 0;
    color: var(--cor-vermelho-2);
}

body#page-products .product-main-benefits .product-main-benefits-wrapper {
    display: flex;
    gap: 15px;
    justify-content: space-between;
}

body#page-products .product-main-benefits .product-main-benefits-item strong {
    font-size: 15px;
    color: #000;
    font-weight: 700;
    display: block;
    margin: 0 0 6px 0;
    line-height: 1;
}

body#page-products .product-main-benefits .product-main-benefits-item p {
    font-size: 12px;
    color: #000;
    margin: 0;
}

body#page-products .product-video {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    align-items: center;
    gap: 5px;
    padding: 11px 0 11px 0;
    border-top: 1px solid #ddd;
    margin: 20px 0 0 0;
}

body#page-products .product-video p {
    font-size: 14px;
    margin: 0;
}

body#page-products .product-video a {
    text-align: center;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 !important;
    background: var(--cor-vermelho-2);
    border-radius: 6px;
    transition: all .3s;
    gap: 6px;
    padding: 0 15px;
    border: 1px solid var(--cor-vermelho-2);
    color: #fff;
    font-size: 13px;
    text-decoration: none;
}

body#page-products .product-video a:hover {
    background: #fff;
    color: var(--cor-vermelho-2);
}

body#page-products .product-info .product-save-money {
    font-size: 14px;
    color: var(--cor-verde-1);
    letter-spacing: -0.5px;
    line-height: 1;
    margin: 2px 0 0px 0;
}

body#page-products .product-info .product__buy button.btn-lg.btn-primary {
    max-width: 100%;
    font-family: roboto;
    font-weight: 600;
    width: 240px;
    font-size: 21px;
    padding: 18px 10px 15px 10px !important;
    text-transform: uppercase;
    border-radius: 7px;
    margin-left: 0;
    border: 0;
    text-shadow: none;
    background: #34af6f;
    transition: all .3s;
    border-bottom: 3px solid #25945b;
    box-sizing: border-box;
    line-height: 1;
}

body#page-products .product-info .product__buy button.btn-lg.btn-primary:hover {
    background: var(--cor-verde-2);
    border-color: var(--cor-verde-3);
}

body#page-products .product-info .prices__installments {
    font-weight: 700;
    font-size: 16px;
    margin: 0 0 10px 0;
    line-height: 1;
}

body#page-products .product-info .prices__installments span {
    color: var(--cor-verde-1);
}

body#page-products .product-info p.product__prices .prices > span:not([class]) {
    transform: none !important;
    width: 100%;
}

body#page-products .product-info p.product__prices .prices > span:not([class]) > * {
    transform: none !important;
}

body#page-products .product-info .prices__installments {
    font-weight: 700;
    font-size: 16px;
    margin: 0 0 10px 0;
    line-height: 1;
}

body#page-products .product-info .prices__installments span {
    color: var(--cor-verde-1);
}

body#page-products .product-info p.product__prices .prices > span:not([class]) {
    transform: none !important;
    width: 100%;
}

body#page-products .product-info p.product__prices .prices > span:not([class]) > * {
    transform: none !important;
}

body#page-products .product-info .prices__discount {
    font-size: 32px;
    letter-spacing: -0.7px;
    color: var(--cor-verde-1);
    line-height: 1;
}

body#page-products .product-info .prices__discount span {
    font-weight: 900 !important;
}

body#page-products .product-info .prices__discount small {
    text-transform: lowercase;
    font-size: 14px;
    font-weight: 900;
    margin: 0 0 0 -4px;
}

body#page-products .product-info .prices__discount:before {
    content: "ou";
    font-size: 14px;
    font-weight: 900;
    margin-right: -4px;
}

body#page-products .product-info p.product__prices {
    display: inline-block;
}

body#page-products .product-info .product__buy {
    float: right;
}

@media (min-width: 767px) {
    body#page-products .product-info {
        border-top: 3px solid var(--cor-vermelho-2);
        background: #f7f7f7;
        padding: 20px;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        border-bottom: 3px solid #ccc;
        margin: 0 0 0 23px;
    }
    
    body#page-products .product-info h1.product__name {
        border-bottom: 1px solid #ddd;
        font-size: 20px;
        font-weight: 700;
        padding: 0 40px 20px 0;
        position: relative;
        margin: 0 0 20px 0;
    }

    body#page-products div#product-block section#product > .row {
        margin-right: 0;
    }
}

@media (max-width: 767px) {
    body#page-products section#product {
        background: #fff;
        padding: 0 15px 15px 15px;
        border-radius: 5px;
    }

    body#page-products .product-video p {
        line-height: 1;
        font-size: 12px;
    }

    body#page-products h1.product__name {
        font-size: 22px;
        line-height: 26px;
        letter-spacing: -1.2px;
        font-weight: 700;
        margin: 0 0 14px 0;
    }

    body#page-products .product-info .product-info-details {
        gap: 5px;
        border: none;
        padding: 0;
        margin: 0 0 18px 0;
    }

    body#page-products span.product__discount {
        display: none;
    }

    body#page-products .product-info .product__buy {
        float: none;
    }
    
    body#page-products .product-info .product__buy button.btn-lg.btn-primary {
        width: 100% !important;
        height: 38px;
        line-height: 1 !important;
        padding: 3px 0 0 0 !important;
        font-size: 17px;
        border-radius: 5px;
    }
    
    body#page-products .product-info .product__buy button.btn-lg.btn-primary i {
        display: none;
    }
    
    body#page-products .product-info .product__buy button.btn-lg.btn-primary:after {
        content: "AGORA";
    }

    body#page-products .product-info p.product__prices {
        margin: 0 0 12px 0;
    }

    body#page-products .product__payment a#product-payment-header {
        background: none;
    }

    body#page-products .offers-notification {
        width: 100%;
        margin: 15px 0 0 0;
        background: var(--cor-vermelho-2) !important;
        color: #fff !important;
        border-radius: 5px;
        padding: 9px 0;
    }
    
    body#page-products div#_offers-nt__collapse-price {
        margin: 0;
    }

    body#page-products .product-video a {
        font-size: 12px;
        white-space: nowrap;
        padding: 0 7px 0 8px;
        height: 30px;
        border-radius: 5px;
    }
    
    body#page-products .product-video a svg {
        width: 14px;
    }
}