@media (min-width: 767px) {
    #search-engine .search-engine__nav .dropdown {
        order: -1;
        display: flex;
    }

    #search-engine .search-engine__nav button#search-engine-sort {
        display: none;
    }

    #search-engine .search-engine__nav .dropdown-menu {
        position: static;
        display: flex;
        padding: 0;
        height: 100%;
        margin: 0;
        border: none;
        z-index: 0;
    }

    #search-engine .search-engine__nav {
        padding: 0 0 15px 0;
        background: none;
        border-bottom: 1px solid #ededed;
        margin: 0 0 15px 0;
        order: -10;
    }

    #search-engine .search-engine__nav .container {
        padding: 0;
    }

    #search-engine .search-engine__nav .dropdown-item {
        border-right: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        border-top: 1px solid #ddd;
        padding: 0 12px 0px 12px;
        text-transform: uppercase;
        font-size: 10px;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s;
    }

    #search-engine .search-engine__nav .dropdown-item:first-child {
        border-left: 1px solid #ededed;
    }

    #search-engine .search-engine__nav .dropdown-item:first-child {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    #search-engine .search-engine__nav .search-engine__sort--news {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    #search-engine .search-engine__nav .dropdown-item[active="true"] {
        background: var(--cor-vermelho-1);
        border-color: var(--cor-vermelho-1);
        color: #fff;
    }

    #search-engine .search-engine__nav .dropdown-item:not([active="true"]):hover {
        background: var(--cor-vermelho-2);
        border-color: var(--cor-vermelho-2);
        color: #fff;
    }

    #search-engine .search-engine__nav .dropdown-item:before {
        font-family: FontAwesome;
        margin-right: 5px;
        font-weight: 100;
        font-size: 11px;
    }

    #search-engine .search-engine__nav .search-engine__sort--null:before {
        content: "\f148";
    }

    #search-engine .search-engine__nav .search-engine__sort--slug:before {
        content: "\f031";
    }

    #search-engine .search-engine__nav .search-engine__sort--news:before {
        content: "\f005";
    }

    #search-engine .search-engine__nav .search-engine__sort--highest_price:before {
        content: "\f155";
    }

    #search-engine .search-engine__nav .search-engine__sort--lowest_price:before {
        content: "\f155";
    }

    #search-engine .search-engine__nav .search-engine__sort--sales:before {
        content: "\f07a";
    }

    #search-engine .search-engine__nav .dropdown-item.search-engine__sort--sales {
        font-size: 0;
    }

    #search-engine .search-engine__nav .dropdown-item.search-engine__sort--sales:after {
        content: "Mais vendidos";
        font-size: 10px;
    }

    #search-engine .search-engine__nav .search-engine__sort--slug {
        order: -1;
    }

    #search-engine .search-engine__nav .search-engine__sort--null {
        order: -1;
    }

    #search-engine .search-engine__toggles .dropdown:before {
        content: "Ordenar por:";
        order: -1;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: -0.5px;
        margin-right: 10px;
        color: var(--cor-vermelho-2);
    }

    #search-engine .search-engine__info {
        padding: 0;
    }
}

#search-engine .search-engine__nav .search-engine__count {
    display: none;
}

#search-engine .search-engine__nav {
    transform: none !important;
}

#search-engine section.search-engine {
    transform: none !important;
}

#search-engine {
    display: flex;
    flex-direction: column;
}

#search-engine section.search-engine {
    display: contents;
}

#search-engine .search-engine__retail > .row {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 15px;
    margin: 0;
}

#search-engine .search-engine__retail > .row > div {
    padding: 0;
    width: 100%;
    max-width: 100%;
}

#search-engine .search-engine__retail > .row {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
    margin: 0;
}

#search-engine .search-engine__retail > .row > div {
    padding: 0;
    width: 100%;
    max-width: 100%;
}

#search-engine .search-engine__retail .product-card__name {
    padding: 0;
    text-align: left;
}

#search-engine .search-engine__retail .product-card__rating-custom {
    text-align: left;
}

#search-engine .search-engine__retail .prices.product-card__prices {
    justify-content: flex-start;
}

#search-engine .search-engine__retail .prices__discount {
    text-align: left;
}

#search-engine .search-engine__results > .container {
    padding: 0;
}

#search-engine article.search-engine__retail {
    padding: 0;
}


/* --- */
.retail-grid {
    margin: 0;
}

.retail-grid .retail-grid-wrapper {
    display: flex;
    gap: 30px;
}

.retail-grid .page-title {
    color: #fff !important;
    width: 100%;
    background: var(--cor-vermelho-2);
    text-align: center;
    padding: 17px 0 17px 0;
    font-size: 22px;
    margin: 0 0 15px 0;
    order: -9;
}

.retail-grid .page-title h1 {
    color: #fff;
    line-height: 1;
    text-align: center;
    display: block;
    width: 100%;
    font-weight: 900;
    letter-spacing: -0.7px;
    text-transform: uppercase;
    font-size: 22px;
}

.retail-grid .page-title .page-title__head {
    margin: 0;
}

.retail-grid .product-showcase .product-card {
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 60px 10px 60px 10px;
    height: auto;
}

.retail-grid .product-showcase .product-card:hover {
    border-color: var(--cor-vermelho-2);
}

.retail-grid .product-showcase .product-card__buy > button {
    padding: 8px 0 6px 0;
}

.retail-grid .product-showcase .product-card__buy {
    padding: 10px;
}

.retail-grid .retail-grid-wrapper .sidecontent {
    width: 100%;
}

.retail-grid .product-showcase .product-card__rating {
    text-align: left;
}

.retail-grid .product-showcase-empty {
    text-align: center;
    padding: 120px 0;
}

.retail-grid .product-showcase-empty p {
    font-size: 25px;
    font-weight: 700;
    margin: 0;
}

.retail-grid .product-showcase-empty a {
    font-weight: 600;
    color: var(--cor-vermelho-2);
}

body#page-categories .full-banners {
    margin: 0 0 15px 0;
}

@media (max-width: 767px) {
    #search-engine .search-engine__retail > .row {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 10px;
        margin: 0;
    }

    .retail-grid .product-showcase .product-card__rating {
        padding-left: 0;
        padding-right: 0;
    }

    .retail-grid .product-showcase .prices.product-card__prices {
        padding: 0;
    }

    .retail-grid .product-showcase .product-card {
        padding: 52px 10px;
        margin: 0;
    }

    .retail-grid .page-title {
        padding: 9px 0 11px 0;
        border-radius: 5px;
    }
    
    .retail-grid .page-title h1 {
        font-size: 18px;
    }
}