<div class="main-navigation">
    <div class="container">
        <div class="main-navigation-wrapper">
            <div class="main-navigation-list main-navigation-list-level-1">
                <div class="main-navigation-list-item main-navigation-list-item-all-departments">
                    <div class="main-navigation-list-item-content">
                        <div class="main-navigation-list-item-content-wrapper">
                            <div class="main-navigation-list-item-icon">
                                <svg fill="currentColor" width="22" height="24" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 68 448 376"><path fill="currentColor" d="M436 124H12c-6.627 0-12-5.373-12-12V80c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12zm0 160H12c-6.627 0-12-5.373-12-12v-32c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12zm0 160H12c-6.627 0-12-5.373-12-12v-32c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12z" class=""></path></svg>
                            </div>
                            <div class="main-navigation-list-item-title">
                                <span>Todos os</span>
                                <span>Departamentos</span>
                            </div>
                            <div class="main-navigation-list-item-icon">
                                <i class="i-chevron-down"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="main-navigation-list-item">
                    <div class="main-navigation-list-item-content">
                        <a href="/">
                            <div class="main-navigation-list-item-content-wrapper">
                                <div class="main-navigation-list-item-title">
                                    <span>Refletores</span>
                                    <span>LED</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="main-navigation-list-item">
                    <div class="main-navigation-list-item-content">
                        <a href="/">
                            <div class="main-navigation-list-item-content-wrapper">
                                <div class="main-navigation-list-item-title">
                                    <span>Lumin치rias</span>
                                    <span>LED</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="main-navigation-list-item">
                    <div class="main-navigation-list-item-content">
                        <a href="/">
                            <div class="main-navigation-list-item-content-wrapper">
                                <div class="main-navigation-list-item-title">
                                    <span>L칙mpadas</span>
                                    <span>LED</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="main-navigation-list-item">
                    <div class="main-navigation-list-item-content">
                        <a href="/">
                            <div class="main-navigation-list-item-content-wrapper">
                                <div class="main-navigation-list-item-title">
                                    <span>Spots</span>
                                    <span>LED</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="main-navigation-list-item">
                    <div class="main-navigation-list-item-content">
                        <a href="/">
                            <div class="main-navigation-list-item-content-wrapper">
                                <div class="main-navigation-list-item-title">
                                    <span>Fitas</span>
                                    <span>LED</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="main-navigation-list-item">
                    <div class="main-navigation-list-item-content">
                        <a href="/">
                            <div class="main-navigation-list-item-content-wrapper">
                                <div class="main-navigation-list-item-title">
                                    <span>Pendentes</span>
                                    <span>LED</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="main-navigation-list-item">
                    <div class="main-navigation-list-item-content">
                        <a href="/">
                            <div class="main-navigation-list-item-content-wrapper">
                                <div class="main-navigation-list-item-title">
                                    <span>Lustres</span>
                                    <span>LED</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="main-navigation-list-item">
                    <div class="main-navigation-list-item-content">
                        <a href="/">
                            <div class="main-navigation-list-item-content-wrapper">
                                <div class="main-navigation-list-item-title">
                                    <span>Acess칩rios</span>
                                    <span>LED</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="main-navigation-list-item main-navigation-list-item-campaign">
                    <div class="main-navigation-list-item-content">
                        <div class="main-navigation-list-item-content-wrapper">
                            <div class="main-navigation-list-item-icon">
                                <svg fill="currentColor" width="25" height="31" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 96 96" ><path d="m77.08 28.577 5.748-5.748-5.656-5.658-6.149 6.149a39.747 39.747 0 0 0 -19.023-7.12v-8.2h8v-8h-24v8h8v8.2a39.747 39.747 0 0 0 -19.023 7.12l-6.149-6.149-5.656 5.658 5.748 5.748a40 40 0 1 0 58.16 0zm-29.08 59.423a32 32 0 1 1 32-32 32.036 32.036 0 0 1 -32 32z"></path><path d="m48 32v24h-24a24 24 0 1 0 24-24z"></path></svg>
                            </div>
                            <div class="main-navigation-list-item-title">
                                <span>Frete</span>
                                <span>Gr치tis</span>
                            </div>
                            <div class="main-navigation-list-item-icon">
                                <i class="i-chevron-down"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  