<%
const search = new _.EcomSearch()
let items
try {
  await search.setSkus(skus).setSortOrder('news').fetch(true)
  items = search.getItems().filter(item => _.ecomUtils.inStock(item))
} catch (err) {
  console.error(err)
  items = []
}
%>

<% if (items.length) { %>
  <ul>
    <% items.forEach((item) => { %>
      <li><%- item.name %> [<%- item.sku %>]</li>
    <% }) %>
  </ul>
  <p>
    Section que não é section depois da shelf <%- opt.collection_id || 'sem coleção' %> <%= opt.sort %>
  </p>
<% } %>
