<div class="footer-security-seals">
    <div class="container">
        <div class="footer-security-seals-wrapper">
            <ul>
                <li><div><img loading="lazy" width="99" height="27" alt="Selo Google" title="Selo Google" src="/img/uploads/security-seals/google-site-seguro.png.webp"></div></li>
                <li><div><img loading="lazy" width="36" height="60" alt="Great Place To Work" title="Great Place to Work" src="/img/uploads/security-seals/great-place-to-work.png.webp"></div></li>
                <li><div><img loading="lazy" width="71" height="83" alt="Selo Site Sincero Trustvox" title="Selo Site Sincero Trustvox" src="/img/uploads/security-seals/trustvox.png.webp"></div></li>
                <li><div><img loading="lazy" width="63" height="81" alt="Selo Abcomm" title="Selo Abcomm" src="/img/uploads/security-seals/abcomm.png.webp"></div></li>
                <li><div><img loading="lazy" width="49" height="62" alt="Selo Ebit" title="Selo Ebit" src="/img/uploads/security-seals/ebit.png.webp"></div></li>
                <li><div><img loading="lazy" width="81" height="81" alt="Selo Mercado Pago" title="Selo Mercado Pago" src="/img/uploads/security-seals/mercado-pago.png.webp"></div></li>
                <li><div><img loading="lazy" width="67" height="82" alt="Selo Site Blindado" title="Selo Site Blindado" src="/img/uploads/security-seals/site-blindado.png.webp"></div></li>
                <li><div><img loading="lazy" width="74" height="83" alt="Selo Site Protegido" title="Selo Site Protegido" src="/img/uploads/security-seals/site-protegido.png.webp"></div></li>
            </ul>
        </div>
    </div>
</div>