<div class="countdown">
    <div class="countdown-wrapper">
        <div class="countdown-item countdown-item-day"><b>00</b><span>dias</span></div>
        <div class="countdown-item-separator countdown-item-separator-1">:</div>
    
        <div class="countdown-item countdown-item-hour"><b>00</b><span>horas</span></div>
        <div class="countdown-item-separator countdown-item-separator-2">:</div>
    
        <div class="countdown-item countdown-item-minute"><b>00</b><span>minutos</span></div>
        <div class="countdown-item-separator countdown-item-separator-3">:</div>
    
        <div class="countdown-item countdown-item-second"><b>00</b><span>segundos</span></div>
        <div class="countdown-item-separator countdown-item-separator-4">:</div>
    
        <div class="countdown-item countdown-item-ms"><b>00</b><span>milissegundos</span></div>
    </div>
</div>