<div class="footer-credits">
    <div class="container">
        <div class="footer-credits-wrapper">
            <p><%= new Date().getFullYear() %> © ILUMINIM LED® é marca registrada de iluminim.com.br | CNPJ: 23.429.903/0001-98. Todos direitos reservados. Os produtos vendidos nesse site podem ser comercializados por empresas parceiras (marketplaces). Todas as fotos expostas na iluminim.com.br são meramente ilustrativas e de nossa propriedade, estando protegidas pela Lei Federal de Direito Autoral. Estão, portanto, proibidas todas e quaisquer cópias das fotos aqui exibidas, sem a autorização expressa do autor, proprietário e gestor da iluminim.com.br.</p>
        </div>
    </div>
</div>